<div class="methodologyIndicators">
  <h4 class="methodologyIndicators__title title-4">
    Determining the number of indicators
  </h4>
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "Based on the availability of the Institutional Profiles database, it was decided to choose 5 indicators for each of the 4 measured groups."
  })
</div>
<div class="methodologyIndicators">
  <h4 class="methodologyIndicators__title title-4">
    Determining indicators weighting coefficients
  </h4>

  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "Taking into account there are no scientifically based and universally accepted criteria for selecting weights of indicators, it was decided to assign equal weights within the indicator groups. Hence «Round», the name of the ranking, comes, which denotes the symmetry of the methodology."
  })
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "«International Diversity» and «Financial Sustainability» groups were assigned 10% of weights. Weight of each criterion was 2% because there were 5 evaluation parameters."
  })
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "Thus, 20% were distributed between two areas. The rest of 80% left for «Teaching» and «Research» groups."
  })
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "We consider both «Teaching» and «Research» as two primary missions of every university. Therefore, the remaining 80% were equally divided: 40% for each of the two groups, and 8% for each of 10 indicators within these groups."
  })
  
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "Summarizing the above we came to the conclusion that the RUR ranking had the following structure: <ul><li>0 indicators</li><li>4 measured groups</li><li>5 indicators in each measured group</li><li>Equal weights in the measured groups</li></ul>"
  })
</div>