<div class="universitySelect__wrapper container">
  <div class="universitySelect">
    <select id="universitySelect-year" class="universitySelect__item d-page-select page-select">
      <option disabled selected>Universities</option>
      <option value="2023">Harvard University</option>
      <option value="2022">Harvard University</option>
      <option value="2021">Harvard University</option>
      <option value="2020">Harvard University</option>
      <option value="2019">Harvard University</option>
      <option value="2018">Harvard University</option>
    </select>
    <select id="universitySelect-ranking" class="universitySelect__item d-page-select page-select">
      <option value="" disabled selected>Ranking</option>
      <option value="world_rank">World rank</option>
      <option value="country_rank">Country rank</option>
      <option value="university_score">University score</option>
    </select>
    <select id="universitySelect-subject" class="universitySelect__item d-page-select page-select">
      <option value="" disabled selected>Subject</option>
      <option value="usa">Science</option>
      <option value="china">Math</option>
      <option value="uk">History</option>
    </select>
  </div>
</div>
