<div class="aboutBanner">
  <h4 class="aboutBanner__title title-4">
    RUR Data
  </h4>
  @@include('../../Article/ArticleTextComponent/article-text.html', {
    "text": "All the raw data (like number of students, academic staff etc.) is provided by <b><a>Thomson Reuters</a></b> through a special data survey called Global Institutional Profiles Project (GIPP). This survey is conducted annually in the spring and covers 700-800 higher education institutions through all over the world with the prospective expansion by 1000+."
  })
  <div class="aboutBanner__image">
    <img src="@img/content/banner.jpg" alt="banner">
  </div>
</div>