.universityLocation {
  &__title {
    margin-bottom: 12px;
  }
  &__place {
    padding-left: 16px;
    padding-bottom: 15px;
  }
  &__place-title {
    color: $text;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 4px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: -16px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: $accent;
      border-radius: 50%;
    }
  }
  &__place-box {
    overflow: hidden;
    transition: all 0.3s;
  }
  &__place-description {
    color: rgba($text, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
  .universityOverview__readMore {
    margin-top: 0px;
  }

  &__place-wrapper {
    margin-bottom: 22px;
  }

  [data-location='button'].opened {
    svg {
      transform: rotate(180deg);
    }
  }

  @media (max-width: $breakpoint-large) {
    &__title {
      margin-bottom: 12px;
    }
    &__place {
      padding-left: 16px;
      padding-bottom: 15px;
    }
    &__place-title {
      font-size: 18px;
      margin-bottom: 4px;

      &::before {
        left: -16px;
        width: 8px;
        height: 8px;
      }
    }
    &__place-box {
      height: 165px;
    }
    &__place-description {
      font-size: 16px;
    }

    &__place-wrapper {
      margin-bottom: 22px;
    }
  }
  @media (max-width: $breakpoint-medium) {
    &__place-title {
      font-size: 14px;
      margin-bottom: 4px;
    }
    &__place-description {
      font-size: 12px;
    }
    #universityLocation__map img {
      border-radius: 15px;
      object-fit: cover;
      aspect-ratio: 3 / 4;
    }
  }
}
