<div class="universityLocation university-item" id="universityLocation">
  <h4 class="universityLocation__title title-4">Location</h4>
  <div class="universityLocation__place-wrapper" data-location="wrapper">
    <div class="universityLocation__place-box" data-location="box">
      <div class="universityLocation__place" data-location="item">
        <div class="universityLocation__place-title">Harvard Business School</div>
        <div class="universityLocation__place-description">117 Western Ave, Boston, MA</div>
      </div>
      <div class="universityLocation__place" data-location="item">
        <div class="universityLocation__place-title">Harvard College</div>
        <div class="universityLocation__place-description">
          1350 Massachusetts Ave, Cambridge, MA
        </div>
      </div>
      <div class="universityLocation__place" data-location="item">
        <div class="universityLocation__place-title">
          Harvard Kenneth C. Griffin Graduate School of Arts and Sciences
        </div>
        <div class="universityLocation__place-description">
          1350 Massachusetts Ave, Cambridge, MA
        </div>
      </div>
      <div class="universityLocation__place" data-location="item">
        <div class="universityLocation__place-title">Harvard Business School</div>
        <div class="universityLocation__place-description">117 Western Ave, Boston, MA</div>
      </div>
      <div class="universityLocation__place" data-location="item">
        <div class="universityLocation__place-title">Harvard College</div>
        <div class="universityLocation__place-description">
          1350 Massachusetts Ave, Cambridge, MA
        </div>
      </div>
      <div class="universityLocation__place" data-location="item">
        <div class="universityLocation__place-title">
          Harvard Kenneth C. Griffin Graduate School of Arts and Sciences
        </div>
        <div class="universityLocation__place-description">
          1350 Massachusetts Ave, Cambridge, MA
        </div>
      </div>
    </div>
    <a href="#" class="universityOverview__readMore" data-location="button">
      <span>Watch more</span>
      <svg
        width="12"
        height="13"
        viewBox="0 0 12 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3 5L6 8L9 5"
          stroke="#2B8CD9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
  <div id="universityLocation__map">
    <img src="@img/content/map-placeholder.jpg" alt="" />
  </div>
</div>
