<div class="aboutFooter">
  <h4 class="aboutFooter__title title-4">
    Why stakeholders in all over the world choose RUR Ranking?
  </h4>
  <div class="aboutFooter__box">
    <h5 class="aboutFooter__subtitle">
      Key features
    </h5>
    @@include('../../Article/ArticleTextComponent/article-text.html', {
      "text": "<ul><li>20 indicators that cover key areas of university activities: teaching, research, international diversity and financial sustainability.</li><li><b><a>Detailed statistics</a></b> on all institutions, which includes user-friendly profiles with both ranks and points on each of 20 indicators and separately measured 4 key areas.</li><li>Access to 1100 profiles of leading world universities.</li><li>Visitors from over 100 countries including world capitals: London, New York, Tokyo, Los Angeles, Paris, Berlin, Moscow, Singapore, Hong Kong etc.</li><li>RUR is the international news feed which publishes news of the world higher education sector.</li></ul>"
    })
  </div>
  <div class="aboutFooter__box">
    <h5 class="aboutFooter__subtitle">
      For university management
    </h5>
    @@include('../../Article/ArticleTextComponent/article-text.html', {
      "text": "<ul><li>RUR allows participating institutions to evaluate their performance by 20 indicators. Advanced analytical services on RUR website allow users to conduct comprehensive analysis by all key missions of institutional performance.</li><li>RUR is an inclusive evaluation system without any limitations for participation. All higher education institutions in the world are welcome to take part in RUR.</li></ul>"
    })
  </div>
  <div class="aboutFooter__box">
    <h5 class="aboutFooter__subtitle">
      For students
    </h5>
    @@include('../../Article/ArticleTextComponent/article-text.html', {
      "text": "<ul><li>Choose the best place for study among leading world universities.</li><li>Explore our <b><a>world map</a></b> in order to find university with the best geographical location.</li></ul>"
    })
  </div>
  <div class="aboutFooter__banner">
    RUR is your navigator in higher education!
  </div>
</div>