<div class="profilesDataTop admin-box-item first-item">
  <div class="profilesDataTop__box">
    <div class="profilesDataTop__file">
      @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
        "text": "Upload logo",
        "name": "profilesDataTop-upload-logo",
        "label": "Allowed *.jpeg, *.jpg, *.png, *.gif <br />Max size of 3.1 MB"
      })
    </div>
    <div class="profilesDataTop__field">
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Name of the university",
        "counter": "",
        "info": ""
      })
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Location",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      })
    </div>
  </div>
</div>
