<div class="universityRankings university-item" data-university="rankings" id="universityRankings">
  <h4 class="universityRankings__title title-4">Rankings</h4>
  <div class="universityRankings__table">
    <div class="universityRankings__row universityRankings__row--head">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        Main ratings
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">Rank</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">Score</div>
    </div>
    <div class="universityRankings__row">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        <div class="universityRankings__table-rank">
          <img src="@img/icons/rankings/item-1.jpg" alt="" />
          <div class="universityRankings__popover">
            <div class="popover-arrow">
              <svg
                width="12"
                height="6"
                viewBox="0 0 12 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 0L7.41421 4.58579C6.63317 5.36683 5.36684 5.36684 4.58579 4.58579L0 0H12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="universityRankings__popover-title">Diamond League</div>
            <div class="universityRankings__popover-rank">Rank 1-100</div>
            <div class="universityRankings__popover-line">
              <div
                class="universityRankings__popover-lineItem active"
                style="--popover-line-color: #0fd0f7"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div class="universityRankings__popover-lineItem" style="--popover-line-color: #fc0">
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #c5d1d9"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #d7b56d"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #df7a51"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #6bc73a"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        World University Ranking
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">1</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">
        100.000
      </div>
    </div>
    <div class="universityRankings__row">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        <div class="universityRankings__table-rank">
          <img src="@img/icons/rankings/item-2.jpg" alt="" />
          <div class="universityRankings__popover">
            <div class="popover-arrow">
              <svg
                width="12"
                height="6"
                viewBox="0 0 12 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 0L7.41421 4.58579C6.63317 5.36683 5.36684 5.36684 4.58579 4.58579L0 0H12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="universityRankings__popover-title">Diamond League</div>
            <div class="universityRankings__popover-rank">Rank 1-100</div>
            <div class="universityRankings__popover-line">
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #0fd0f7"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem active"
                style="--popover-line-color: #fc0"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #c5d1d9"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #d7b56d"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #df7a51"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #6bc73a"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        World University Ranking
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">1</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">
        100.000
      </div>
    </div>
    <div class="universityRankings__row">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        <div class="universityRankings__table-rank">
          <img src="@img/icons/rankings/item-3.jpg" alt="" />
          <div class="universityRankings__popover">
            <div class="popover-arrow">
              <svg
                width="12"
                height="6"
                viewBox="0 0 12 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 0L7.41421 4.58579C6.63317 5.36683 5.36684 5.36684 4.58579 4.58579L0 0H12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="universityRankings__popover-title">Diamond League</div>
            <div class="universityRankings__popover-rank">Rank 1-100</div>
            <div class="universityRankings__popover-line">
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #0fd0f7"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div class="universityRankings__popover-lineItem" style="--popover-line-color: #fc0">
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem active"
                style="--popover-line-color: #c5d1d9"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #d7b56d"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #df7a51"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #6bc73a"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        World University Ranking
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">1</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">
        100.000
      </div>
    </div>
    <div class="universityRankings__row">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        <div class="universityRankings__table-rank">
          <img src="@img/icons/rankings/item-4.jpg" alt="" />
          <div class="universityRankings__popover">
            <div class="popover-arrow">
              <svg
                width="12"
                height="6"
                viewBox="0 0 12 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 0L7.41421 4.58579C6.63317 5.36683 5.36684 5.36684 4.58579 4.58579L0 0H12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="universityRankings__popover-title">Diamond League</div>
            <div class="universityRankings__popover-rank">Rank 1-100</div>
            <div class="universityRankings__popover-line">
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #0fd0f7"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div class="universityRankings__popover-lineItem" style="--popover-line-color: #fc0">
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #c5d1d9"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem active"
                style="--popover-line-color: #d7b56d"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #df7a51"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #6bc73a"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        World University Ranking
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">1</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">
        100.000
      </div>
    </div>
    <div class="universityRankings__row">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        <div class="universityRankings__table-rank">
          <img src="@img/icons/rankings/item-5.jpg" alt="" />
          <div class="universityRankings__popover">
            <div class="popover-arrow">
              <svg
                width="12"
                height="6"
                viewBox="0 0 12 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 0L7.41421 4.58579C6.63317 5.36683 5.36684 5.36684 4.58579 4.58579L0 0H12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="universityRankings__popover-title">Diamond League</div>
            <div class="universityRankings__popover-rank">Rank 1-100</div>
            <div class="universityRankings__popover-line">
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #0fd0f7"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div class="universityRankings__popover-lineItem" style="--popover-line-color: #fc0">
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #c5d1d9"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #d7b56d"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #df7a51"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem active"
                style="--popover-line-color: #6bc73a"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        World University Ranking
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">1</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">
        100.000
      </div>
    </div>
  </div>
  <div class="universityRankings__table">
    <div class="universityRankings__row universityRankings__row--head">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        Additional Rankings
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">Rank</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">Score</div>
    </div>
    <div class="universityRankings__row">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        <div class="universityRankings__table-rank">
          <img src="@img/icons/rankings/item-6.svg" alt="" />
          <div class="universityRankings__popover">
            <div class="popover-arrow">
              <svg
                width="12"
                height="6"
                viewBox="0 0 12 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 0L7.41421 4.58579C6.63317 5.36683 5.36684 5.36684 4.58579 4.58579L0 0H12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="universityRankings__popover-title">Diamond League</div>
            <div class="universityRankings__popover-rank">Rank 1-100</div>
            <div class="universityRankings__popover-line">
              <div
                class="universityRankings__popover-lineItem active"
                style="--popover-line-color: #0fd0f7"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div class="universityRankings__popover-lineItem" style="--popover-line-color: #fc0">
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #c5d1d9"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #d7b56d"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #df7a51"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #6bc73a"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        Reputation Rankings
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">-</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">-</div>
    </div>
    <div class="universityRankings__row">
      <div class="universityRankings__table-item universityRankings__table-item--main">
        <div class="universityRankings__table-rank">
          <img src="@img/icons/rankings/item-7.svg" alt="" />
          <div class="universityRankings__popover">
            <div class="popover-arrow">
              <svg
                width="12"
                height="6"
                viewBox="0 0 12 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 0L7.41421 4.58579C6.63317 5.36683 5.36684 5.36684 4.58579 4.58579L0 0H12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="universityRankings__popover-title">Diamond League</div>
            <div class="universityRankings__popover-rank">Rank 1-100</div>
            <div class="universityRankings__popover-line">
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #0fd0f7"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem active"
                style="--popover-line-color: #fc0"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #c5d1d9"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #d7b56d"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #df7a51"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
              <div
                class="universityRankings__popover-lineItem"
                style="--popover-line-color: #6bc73a"
              >
                <div class="polygon">
                  <svg
                    width="10"
                    height="8"
                    viewBox="0 0 10 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M5.82199 6.81355C5.42431 7.38756 4.57569 7.38756 4.17801 6.81355L0.891226 2.06949C0.431747 1.40629 0.906402 0.499999 1.71322 0.499999L8.28678 0.5C9.0936 0.5 9.56825 1.40629 9.10877 2.06949L5.82199 6.81355Z"
                      fill="#C5D1D9"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        Academic Rankings
      </div>
      <div class="universityRankings__table-item universityRankings__table-item--rank">-</div>
      <div class="universityRankings__table-item universityRankings__table-item--score">-</div>
    </div>
  </div>
</div>
