<section class="top">
  <div class="container">
    <div class="a">ADS</div>
  </div>
  <div class="top__wrapper container-a">
    <div class="a">ADS</div>
    <div class="top__inner container">
      <div class="top__info">
        <div class="top__info-box">
          <h1 class="top__info-title title-1">
            World University <br />
            <span>Ranking</span>
          </h1>
          <p class="top__info-text">
            We evaluate the effectiveness of 1200 leading universities in the world by 20 indicators
            within the framework of 4 key objectives:
          </p>
          <div class="top__info-tags">
            <div class="top__info-tag" style="--tag-color: #2b8cd9">Teaching</div>
            <div class="top__info-tag" style="--tag-color: #97ca62">International diversity</div>
            <div class="top__info-tag" style="--tag-color: #ffc36c">Research</div>
            <div class="top__info-tag" style="--tag-color: #48c1c0">Financial sustainability</div>
          </div>
        </div>
        <div class="top__info-slider">
          <div class="top__info-slider__info" data-university-info="main">
            <div class="top__info-slider__info-head">
              <div class="top__info-slider__info-rank">
                World Rank: <span data-university-info="mainRank">№1</span>
              </div>
              <div class="top__info-slider__info-arrows">
                <a class="top__info-slider-arrowPrev">
                  <svg
                    width="26"
                    height="26"
                    viewBox="0 0 26 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      width="26"
                      height="26"
                      rx="13"
                      transform="matrix(-1 0 0 1 26 0)"
                      fill="white"
                      fill-opacity="0.2"
                    />
                    <path
                      d="M15 8.5L9.75 13.1667L15 17.8333"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
                <a class="top__info-slider-arrowNext">
                  <svg
                    width="26"
                    height="27"
                    viewBox="0 0 26 27"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect y="0.5" width="26" height="26" rx="13" fill="white" fill-opacity="0.2" />
                    <path
                      d="M11 9L16.25 13.6667L11 18.3333"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="top__info-slider__info-box">
              <div class="top__info-slider__info-logo">
                <img
                  data-university-info="mainImage"
                  src="@img/content/universities/item-1.png"
                  alt="university-1"
                />
              </div>
              <div class="top__info-slider__info-content">
                <h5 class="top__info-slider__info-title" data-university-info="mainName">
                  Harvard University
                </h5>
                <p class="top__info-slider__info-text" data-university-info="mainLocation">
                  USA, Cambridge
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="top__info-slider__item swiper-slide">
              <img src="@img/content/universities-images/item-1.jpg" alt="universities-image 1" />
              <div data-university-info="wrapper">
                <h5 data-university-info="rate">№1</h5>
                <img
                  data-university-info="image"
                  src="@img/content/universities/item-1.png"
                  alt="university-1"
                />
                <h5 data-university-info="name">Harvard University</h5>
                <p data-university-info="location">USA, Cambridge</p>
              </div>
            </div>
            <div class="top__info-slider__item swiper-slide">
              <img src="@img/content/universities-images/item-1.jpg" alt="universities-image 1" />
              <div data-university-info="wrapper">
                <h5 data-university-info="rate">№2</h5>
                <img
                  data-university-info="image"
                  src="@img/content/universities/item-2.png"
                  alt="university-1"
                />
                <h5 data-university-info="name">California Institute of Technology (Caltech)</h5>
                <p data-university-info="location">USA, Cambridge</p>
              </div>
            </div>
            <div class="top__info-slider__item swiper-slide">
              <img src="@img/content/universities-images/item-1.jpg" alt="universities-image 1" />
              <div data-university-info="wrapper">
                <h5 data-university-info="rate">№3</h5>
                <img
                  data-university-info="image"
                  src="@img/content/universities/item-3.png"
                  alt="university-1"
                />
                <h5 data-university-info="name">Stanford University</h5>
                <p data-university-info="location">USA, Cambridge</p>
              </div>
            </div>
            <div class="top__info-slider__item swiper-slide">
              <img src="@img/content/universities-images/item-1.jpg" alt="universities-image 1" />
              <div data-university-info="wrapper">
                <h5 data-university-info="rate">№4</h5>
                <img
                  data-university-info="image"
                  src="@img/content/universities/item-4.png"
                  alt="university-1"
                />
                <h5 data-university-info="name">Massachusetts Institute of Technology (MIT)</h5>
                <p data-university-info="location">USA, Cambridge</p>
              </div>
            </div>
          </div>
          <div class="top__info-slider__dots"></div>
        </div>
      </div>
      @@include("../../components/LinksBannerComponent/links-banner.html")
    </div>
    <div class="a">ADS</div>
  </div>
</section>
