<div class="participationTop">
  @@include('../../Article/ArticleTextComponent/article-text.html', {
    "text": "To participate in Round University Ranking (RUR) your university will need to submit a short application, including the following details:<ul><li>University official full name in English;</li><li>Name and surname of contact person;</li><li>E-mail and phone number of contact person.</li></ul>Please sent your application to rankings@roundranking.com. We will send you an acess details to a special data collection system in a response e-mail."
  })

  <a href="mailto:rankings@roundranking.com" class="participationTop__button">
    rankings@roundranking.com
  </a>  
</div>