.page-head {
  padding-top: 38px;
  padding-bottom: 86px;
  background: linear-gradient(226deg, #97ca62 0%, #2b8cd9 100%), #d9d9d9;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  &__form {
    max-width: 521px;
    width: 100%;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 20px;
  }
  &__form-title {
    margin-bottom: 12px;
  }
  &__form-text {
    margin-bottom: 24px;
    color: $text;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  &__form-inputWrapper {
    max-width: 100%;
    width: 100%;
  }
  &__form-button {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    padding: 16px;
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
    background: $accent;
    transition: all 0.3s;

    &:hover {
      background-color: #3895e0;
    }
  }
  &__form-inputBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
  }
  &__form-inputWrapper {
    position: relative;
  }
  &__form-input {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 16px 12px;
    background: rgba(145, 158, 171, 0.08);

    color: $text;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    border: none;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s;
    position: relative;

    &::placeholder {
      color: #919eab;
    }
    &:focus {
      border: 1px solid $accent;
      background: rgba(145, 158, 171, 0.16);
    }
  }

  &__contacts {
    padding: 24px;
    border-radius: 20px;
    background: #f4f6f8;
    margin-top: 38px;

    .footer__top-mail,
    .footer__top-call {
      margin-bottom: 22px;
    }
  }
  &__contacts-button {
    margin-top: 30px;

    padding: 16px 12px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $accent;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;

    transition: all 0.3s;

    svg {
      width: 24px;
      height: 24px;

      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      background-color: $accent;
      color: #fff;

      svg path {
        stroke: #fff;
      }
    }
  }

  &__benefits {
    margin-top: 38px;
  }
  &__benefitsText {
    margin-bottom: 16px;

    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }
  &__benefitsBox {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .methodologyKey__item {
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
      padding-left: 40px;

      &::before {
        background-color: #fff;
        left: 24px;
      }
    }
  }

  &__box {
    max-width: 682px;
  }

  &__image {
    width: 498px;
    height: 474px;

    img {
      border-radius: 20px;
    }
  }

  &__text {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 40px;

    p + p {
      margin-top: 12px;
    }
  }

  .breadcrumbs {
    margin-top: 0;
    padding-bottom: 52px;
    &__item {
      color: rgba(#fff, 0.6);

      &::before {
        background-color: rgba(#fff, 0.6);
      }

      &:last-of-type {
        color: #fff;
      }
    }
  }

  @media (max-width: $breakpoint-large) {
    padding-top: 20px;
    padding-bottom: 40px;
    .breadcrumbs {
      padding-bottom: 20px;
    }

    padding-top: 38px;
    padding-bottom: 86px;

    &__form {
      max-width: 100%;

      padding: 40px 30px;
      border-radius: 20px;
      margin-top: 20px;
    }
    &__wrapper {
      flex-direction: column;
    }
    &__form-title {
      margin-bottom: 12px;
    }
    &__form-text {
      margin-bottom: 24px;
      font-size: 16px;
    }
    &__form-button {
      font-size: 18px;
      line-height: 24px;

      padding: 16px;
      border-radius: 8px;
    }
    &__form-inputBox {
      gap: 12px;
      margin-bottom: 24px;
    }
    &__form-input {
      border-radius: 8px;
      padding: 16px 12px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid $accent;
      }
    }

    &__contacts {
      padding: 24px;
      border-radius: 20px;
      margin-top: 38px;

      .footer__top-mail,
      .footer__top-call {
        margin-bottom: 22px;
      }
    }
    &__contacts-button {
      margin-top: 30px;
      padding: 16px 12px;
      border-radius: 8px;
      font-size: 18px;
      line-height: 24px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &__benefits {
      margin-top: 38px;
    }
    &__benefitsText {
      margin-bottom: 16px;
      font-size: 18px;
    }
    &__benefitsBox {
      gap: 8px;

      .methodologyKey__item {
        padding-left: 40px;

        &::before {
          left: 24px;
        }
      }
    }

    &__box {
      max-width: 682px;
    }

    &__image {
      width: 498px;
      height: 474px;

      img {
        border-radius: 20px;
      }
    }

    &__text {
      font-size: 18px;
      margin-top: 40px;

      p + p {
        margin-top: 12px;
      }
    }
  }

  @media (max-width: $breakpoint-medium) {
    padding-bottom: 40px;
    &__text {
      margin-top: 20px;
      font-size: 14px;
      p + p {
        margin-top: 8px;
      }
    }

    &__form {
      padding: 20px;
    }
    &__form-title {
      margin-bottom: 12px;
      font-size: 20px;
    }
    &__form-text {
      margin-bottom: 12px;
      font-size: 14px;
    }
    &__form-button {
      font-size: 14px;
    }
    &__form-inputBox {
      gap: 10px;
      margin-bottom: 12px;
    }
    &__form-input {
      border-radius: 8px;
      padding: 16px 12px;
      font-size: 14px;
      line-height: 24px;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid $accent;
      }
    }

    &__contacts {
      padding: 20px;
      margin-top: 16px;
    }
    &__contacts-button {
      margin-top: 20px;

      padding: 4px 12px;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;

      transition: all 0.3s;

      svg {
        width: 24px;
        height: 24px;

        path {
          transition: all 0.3s;
        }
      }

      &:hover {
        background-color: $accent;
        color: #fff;

        svg path {
          stroke: #fff;
        }
      }
    }
  }
}
