<div class="aboutMethodology">
  <h4 class="aboutMethodology__title title-4">RUR Methodology</h4>
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "To evaluate performance of 1100 leading world universities RUR Rankings system use the unique comprehensive methodology and assess higher education institutions performance by 20 separate indicators (see below). For more details please see our <b><a>methodology page</a></b>."
  })
  <div class="aboutMethodology__box">
    <div class="aboutMethodology__item" style="--point-color: #ffc36c;">
      <div class="aboutMethodology__item-head">
        <img src="@img/icons/Methodology/item-1.svg" alt="item 1">
        Teaching indicators
      </div>
      <div class="aboutMethodology__item-point">Academic staff per students</div>
      <div class="aboutMethodology__item-point">Academic staff per bachelor degrees</div>
      <div class="aboutMethodology__item-point">Citations per academic and research staff</div>
      <div class="aboutMethodology__item-point">Teaching reputation</div>
      <div class="aboutMethodology__item-point">Institutional income per academic staff</div>
    </div>
    <div class="aboutMethodology__item" style="--point-color: #2B8CD9;">
      <div class="aboutMethodology__item-head">
        <img src="@img/icons/Methodology/item-2.svg" alt="item 2">
        Research indicators
      </div>
      <div class="aboutMethodology__item-point">Academic staff per bachelor degrees</div>
      <div class="aboutMethodology__item-point">Academic staff per students</div>
      <div class="aboutMethodology__item-point">Teaching reputation</div>
      <div class="aboutMethodology__item-point">Institutional income per academic staff</div>
      <div class="aboutMethodology__item-point">Papers per million research income</div>
    </div>
    <div class="aboutMethodology__item" style="--point-color: #48C1C0;">
      <div class="aboutMethodology__item-head">
        <img src="@img/icons/Methodology/item-3.svg" alt="item 3">
        International Diversity indicators
      </div>
      <div class="aboutMethodology__item-point">Institutional income per academic staff</div>
      <div class="aboutMethodology__item-point">Academic staff per bachelor degrees</div>
      <div class="aboutMethodology__item-point">Academic staff per students</div>
      <div class="aboutMethodology__item-point">Citations per academic and research staff</div>
      <div class="aboutMethodology__item-point">Papers per million research income</div>
    </div>
    <div class="aboutMethodology__item" style="--point-color: #ffc36c;">
      <div class="aboutMethodology__item-head">
        <img src="@img/icons/Methodology/item-4.svg" alt="item 4">
        Financial Sustainability indicators
      </div>
      <div class="aboutMethodology__item-point">Citations per academic and research staff</div>
      <div class="aboutMethodology__item-point">Academic staff per bachelor degrees</div>
      <div class="aboutMethodology__item-point">Institutional income per academic staff</div>
      <div class="aboutMethodology__item-point">Academic staff per students</div>
      <div class="aboutMethodology__item-point">Teaching reputation</div>
    </div>
  </div>
</div>
