<div class="articleFooter">
  @@include('../ArticleTextComponent/article-text.html', {
    "text": "RUR 2021 World University Ranking is out! This year we have 867 universities representing 74 nations.<br/> TOP-10 in a world is the following:"
  })
  <div class="articleFooter__list">
    <a href="#" class="articleFooter__list-item">1. Harvard University, USA</a>
    <a href="#" class="articleFooter__list-item">2. California Institute of Technology (Caltech), USA</a>
    <a href="#" class="articleFooter__list-item">3. Stanford University, USA</a>
    <a href="#" class="articleFooter__list-item">4. Imperial College London, UK</a>
  </div>
  @@include('../ArticleTextComponent/article-text.html', {
    "text": "Please, see full results of <a>RUR 2021 World University Ranking</a>."
  })
</div>
