<div class="methodologyKey">
  <h4 class="methodologyAbout__title title-4">Academic Reputation Survey key facts:</h4>
  <div class="methodologyKey__box">
    <div class="methodologyKey__item">10 years coverage (2010-2019);</div>
    <div class="methodologyKey__item">70,000 respondents’ answers;</div>
    <div class="methodologyKey__item">6,500 universities which received at least 1 vote;</div>
    <div class="methodologyKey__item">105 presented subject categories;</div>
    <div class="methodologyKey__item">
      1100 participating universities in RUR Reputation Ranking during 2010-2019 period.
    </div>
  </div>
  @@include('../../Article/ArticleTextComponent/article-text.html', { 
    "text": "The reputational survey is balanced both by geographic regions and by subject areas. In detailed information on distribution of respondents ' votes by different parameters is presented below." 
  })
</div>
