<a href="#" class="adminMainItem">
  <div class="adminMainItem__head">
    <h6 class="adminMainItem__title">@@title</h6>
    <div class="adminMainItem__arrow">
      <svg
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="38" height="38" rx="19" fill="#F4F6F8" />
        <path
          d="M16.75 23.5L21.25 19L16.75 14.5"
          stroke="#2B8CD9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <svg
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
        class="hover"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="38" height="38" rx="19" fill="#F4F6F8" />
        <rect width="38" height="38" rx="19" fill="url(#paint0_linear_236_44)" />
        <path
          d="M16.75 23.5L21.25 19L16.75 14.5"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <defs>
          <linearGradient
            id="paint0_linear_236_44"
            x1="46.3657"
            y1="-12"
            x2="-9.46804"
            y2="-7.7091"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#48C1C0" />
            <stop offset="1" stop-color="#2B8CD9" />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
  <div class="adminMainItem__text">@@text</div>
</a>
