<div class="methodologyDevelopment">
  <h4 class="methodologyDevelopment__title title-4">
    Core Foundations in Methodology Development
  </h4>
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "The following basic questions were formulated before the methodology development: <ul><li>What basic principles should be used as a basis for the methodology?</li><li>Should the ranking be presented in the format of a traditional system of leagues or a system of comparison/correlation of the universities?</li><li>What data should the ranking be based on?</li></ul>"
  })
  <div class="methodologyAccordeon">
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <h5 class="methodologyAccordeon__title title-5">
          1. RUR rankings basic principles
        </h5>
        <div class="methodologyAccordeon__toggler">
          <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="32" y="0.5" width="32" height="32" rx="16" transform="rotate(90 32 0.5)" fill="white"/>
            <path d="M21.25 14.5L16 19.75L10.75 14.5" stroke="#2B8CD9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        <div class="methodologyAccordeon__body-text">
          @@include('../../_Article/ArticleTextComponent/article-text.html', {
            "text": "Round University Ranking is the comprehensive system of world university rankings which includes 4 main rankings with prospectives for expansions and also sub-rankings within the 4 key rankings:"
          })
        </div>
        @@include('../../_Article/ArticleListComponent/article-list.html', {
          "type": "dots",
          "items": [
            {
              "title": "Inclusiveness",
              "text": "There are no restrictions for any higher educational institution in the world to limit their participation in the RUR ranking such as the number of publications, the availability of undergraduate programs, etc. The only exception effective as on 2016 is a number of restrictions concerning the initial indicators of universities: the number of academic staff, students, publications, etc. If a university does not reach these indicators, it is assigned the average value of the universities of the host country then. These restrictions are implemented to remove a number of anomalies from the ranking, which will be discussed below. It is worth noting that a university can participate in the ranking in any case, even though it does not overcome the threshold values."
            },
            {
              "title": "Balanced Methodology",
              "text": "Initially, we proceeded from the concept that weights should be the same for all indicators of the ranking, i.e. 5% each. As testing made it clear, such approach led to anomalies in the ranking results (for more details refer to International Diversity chapter). Thus, we found a compromise solution saying that the weights inside the measuring directions (groups of indicators) should be the same, so that no indicator had an advantage over the others. In so doing, the presence of a large number of indicators and small weights should minimize the volatility of the ranking."
            },
            {
              "title": "Methodology Stability",
              "text": "Methodology of ranking, i.e. the number of indicators, the distribution of weights between them, and the initial data source should undergo minimal changes. Twelve versions of the 2010-2021 RUR rankings had the changes but they were related to data processing methods and the elimination of the found anomalies rather than changes in the methodology basics."
            }
          ]
        })
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <h5 class="methodologyAccordeon__title title-5">
          2. Ranking type: a league table or a comparison system
        </h5>
        <div class="methodologyAccordeon__toggler">
          <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="32" y="0.5" width="32" height="32" rx="16" transform="rotate(90 32 0.5)" fill="white"/>
            <path d="M21.25 14.5L16 19.75L10.75 14.5" stroke="#2B8CD9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        <div class="methodologyAccordeon__body-text">
          @@include('../../_Article/ArticleTextComponent/article-text.html', {
            "text": "Round University Ranking is the comprehensive system of world university rankings which includes 4 main rankings with prospectives for expansions and also sub-rankings within the 4 key rankings:"
          })
        </div>
        @@include('../../_Article/ArticleListComponent/article-list.html', {
          "type": "dots",
          "items": [
            {
              "title": "Inclusiveness",
              "text": "There are no restrictions for any higher educational institution in the world to limit their participation in the RUR ranking such as the number of publications, the availability of undergraduate programs, etc. The only exception effective as on 2016 is a number of restrictions concerning the initial indicators of universities: the number of academic staff, students, publications, etc. If a university does not reach these indicators, it is assigned the average value of the universities of the host country then. These restrictions are implemented to remove a number of anomalies from the ranking, which will be discussed below. It is worth noting that a university can participate in the ranking in any case, even though it does not overcome the threshold values."
            },
            {
              "title": "Balanced Methodology",
              "text": "Initially, we proceeded from the concept that weights should be the same for all indicators of the ranking, i.e. 5% each. As testing made it clear, such approach led to anomalies in the ranking results (for more details refer to International Diversity chapter). Thus, we found a compromise solution saying that the weights inside the measuring directions (groups of indicators) should be the same, so that no indicator had an advantage over the others. In so doing, the presence of a large number of indicators and small weights should minimize the volatility of the ranking."
            },
            {
              "title": "Methodology Stability",
              "text": "Methodology of ranking, i.e. the number of indicators, the distribution of weights between them, and the initial data source should undergo minimal changes. Twelve versions of the 2010-2021 RUR rankings had the changes but they were related to data processing methods and the elimination of the found anomalies rather than changes in the methodology basics."
            }
          ]
        })
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <h5 class="methodologyAccordeon__title title-5">
          3. Ranking Data Sources
        </h5>
        <div class="methodologyAccordeon__toggler">
          <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="32" y="0.5" width="32" height="32" rx="16" transform="rotate(90 32 0.5)" fill="white"/>
            <path d="M21.25 14.5L16 19.75L10.75 14.5" stroke="#2B8CD9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>            
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        <div class="methodologyAccordeon__body-text">
          @@include('../../_Article/ArticleTextComponent/article-text.html', {
            "text": "The procedure of choosing the data types used for the assessment of universities has become the key factor determining the methodology structure."
          })
        </div>
        @@include('../../_Article/ArticleTextComponent/article-text.html', {
          "text": "The main types of information to create a ranking are:"
        })
        <div class="methodologyAccordeon__body-benefits">
          @@include('../../_Article/ArticleAccentComponent/article-accent.html', {
            "items": [
              {
                "title": "Bibliomteric data",
                "text": "Bibliometric data, which are based on information obtained from bibliometric systems such as The Lens, Web of Science Core Collection, Scopus, Google Scholar, etc. As a rule, the term «bibliometric» means the number of publications in scientific journals, the number of citations for these publications and all derivatives of those indicators. Bibliometric data refer to the type of data most widely used in university rankings."
              },
              {
                "title": "Statistical data",
                "text": "Statistics, which include the information provided by the universities, i.e. staff indicators (number of academic staff, researchers, etc.), data on the student population (total number of students, number of various diplomas/degrees awarded, etc.), financial data (total budget, R&D budget, etc.)."
              },
              {
                "title": "Reputation data",
                "text": "Reputational data, which are collected from specially conducted reputational surveys showing which universities respondents choose considering them the best in terms of the quality of teaching, research, etc."
              }
            ]
          })
        </div>
        @@include('../../_Article/ArticleTextComponent/article-text.html', {
          "text": "The next task after selecting the data source is to define the methodology model, which is the basis for defining specific indicators and distributing the weights between them. This task is divided into three subtasks: <ul><li>Selection of measuring directions (groups of indicators);</li><li>Definition of the minimum and maximum limits of indicators for both the entire ranking and certain groups of indicators;</li><li>Determination of the weights of the groups and indicators.</li></ul>"
        })
      </div>
    </div>
  </div>
</div>