:root {
  --doc-height: 100%;
  --scrollbar-width: 25px;
}

html {
  scroll-behavior: smooth;
  margin: 0 !important;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container-a {
  max-width: 1590px;
  width: 100%;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: clip !important;
  font-family: 'Inter', 'Sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $text;

  &.popup-opened {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}

section {
  overflow-x: clip !important;
}
