:root {
  --doc-height: 100%;
  --scrollbar-width: 25px;
}

html {
  scroll-behavior: smooth;
  margin: 0 !important;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container-a {
  max-width: 1590px;
  width: 100%;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: clip !important;
  font-family: 'Inter', 'Sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $text;

  &.popup-opened {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}

.university-page {
  background-color: $bg-gray;
}

.u-aside-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 100px;
}
.u-aside {
  position: sticky;
  top: 0;
  transition: all 0.3s;
  max-width: 300px;
  width: 100%;

  .a {
    margin-bottom: 20px;
    height: 334px;
  }
}
.u-box {
  max-width: 960px;
  width: 100%;
  .a {
    height: 123px;
    margin-bottom: 20px;
  }
}

.university-item {
  border-radius: 20px;
  background: #fff;
  padding: 24px;
  margin-bottom: 20px;
}

[data-readMore='text'].opened {
  display: block;
  -webkit-line-clamp: auto;
  -webkit-box-orient: none;
}
[data-readMore='button'] {
  svg {
    transition: all 0.3s;
  }
  &.opened svg {
    transform: rotate(180deg);
  }
}

section {
  overflow-x: clip !important;
}
