:root {
  --doc-height: 100%;
  --scrollbar-width: 25px;
}

html {
  scroll-behavior: smooth;
  margin: 0 !important;
}

.container {
  max-width: 1330px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container-a {
  max-width: 1590px;
  width: 100%;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: clip !important;
  font-family: 'Inter', 'Sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $text;

  &.popup-opened {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}

.university-page,
.ranking-page,
.news-page,
.article-page {
  background-color: $bg-gray;
}

.news-page .u-aside {
  .a {
    height: 80vh;
  }
}

.news-links-banner {
  margin-bottom: 100px;
}

.ranking-page {
  .pageSearch {
    margin-bottom: 30px;
  }
}

.article-page {
  .u-aside-wrapper {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .u-aside .a {
    height: 600px;
  }
}

.article-content {
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.u-aside-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 100px;
}
.u-aside {
  position: sticky;
  top: 0;
  transition: all 0.3s;
  max-width: 300px;
  width: 100%;

  .a {
    margin-bottom: 20px;
    height: 334px;
  }
}
.u-box {
  max-width: 960px;
  width: 100%;
  .a {
    height: 123px;
    margin-bottom: 20px;
  }
}

.university-item {
  border-radius: 20px;
  background: #fff;
  padding: 24px;
  margin-bottom: 20px;
}

.c-wrapper {
  border-radius: 16px;
  background: #fff;
  margin-top: 45px;
  margin-bottom: 120px;
}

.about-page .articleList__title {
  display: none;
}

.page-head {
  padding-top: 38px;
  padding-bottom: 86px;
  background: linear-gradient(226deg, #97ca62 0%, #2b8cd9 100%), #d9d9d9;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    max-width: 682px;
  }

  &__image {
    width: 498px;
    height: 474px;

    img {
      border-radius: 20px;
    }
  }

  &__text {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 40px;

    p + p {
      margin-top: 12px;
    }
  }

  .breadcrumbs {
    margin-top: 0;
    padding-bottom: 52px;
    &__item {
      color: rgba(#fff, 0.6);

      &::before {
        background-color: rgba(#fff, 0.6);
      }

      &:last-of-type {
        color: #fff;
      }
    }
  }
}

[data-readMore='text'].opened {
  display: block;
  -webkit-line-clamp: auto;
  -webkit-box-orient: none;
}
[data-readMore='button'] {
  svg {
    transition: all 0.3s;
  }
  &.opened svg {
    transform: rotate(180deg);
  }
}

section {
  overflow-x: clip !important;
}
