.news-space {
  margin-bottom: 64px;

  @media (max-width: $breakpoint-large) {
    margin-bottom: 48px;
  }
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 36px;
  }
}

.a {
  width: 100%;
  height: 90px;
  background-color: $ads-color;
  border-radius: 20px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;

  @media (max-width: $breakpoint-large) {
    height: 69px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.title-1-head {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  line-height: 113%;
  @media (max-width: $breakpoint-large) {
    font-size: 24px;
  }
}
.title-2-head {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
  line-height: 113%;
  @media (max-width: $breakpoint-large) {
    font-size: 24px;
  }
}
.title-3-head {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 113%;
  @media (max-width: $breakpoint-large) {
    font-size: 24px;
  }
}

.title-1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 113%;
  span {
    background: var(--gr, linear-gradient(244deg, #97ca62 0%, #2b8cd9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    leading-trim: both;
    text-edge: cap;
  }

  @media (max-width: $breakpoint-large) {
    font-size: 46px;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 36px;
  }
}

.title-2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 113%;
  @media (max-width: $breakpoint-large) {
    font-size: 36px;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 24px;
  }
}

.title-3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: $breakpoint-large) {
    font-size: 28px;
  }
  @media (max-width: $breakpoint-large) {
    font-size: 24px;
  }
}

.title-4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: $breakpoint-large) {
    font-size: 20px;
  }
}
.title-5 {
  color: $text;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: $breakpoint-large) {
    font-size: 24px;
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 20px;
  }
}

.d-button {
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: $accent;

  color: #fff;
  font-size: 16px;
  font-weight: 600;

  transition: background-color 0.3s;

  &:hover {
    background-color: #3195e7;
  }
  &:active {
    transform: translateY(1px);
  }

  .buttonIcon {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }

  &.d-button-disabled {
    background-color: $bg-gray;
    color: $text;
    &:hover {
      background-color: $bg-gray;
    }
  }

  @media (max-width: $breakpoint-large) {
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 16px;

    &:active {
      transform: translateY(1px);
    }

    .buttonIcon {
      margin-right: 12px;
      width: 24px;
      height: 24px;
    }
  }
  @media (max-width: $breakpoint-medium) {
    font-size: 12px;
    font-weight: 600;

    .buttonIcon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.link-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: $bg-gray;
  color: $accent;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  transition: all 0.3s;
  display: inline-block;
  cursor: pointer;

  svg {
    margin-left: 5px;
    margin-bottom: -1px;
    width: 14px;
    height: 14px;
  }
  svg path {
    transition: all 0.3s;
  }

  &:hover {
    color: #fff;
    background-color: $accent;

    svg path {
      stroke: #fff;
    }
  }

  @media (max-width: $breakpoint-large) {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;

    svg {
      margin-left: 5px;
      margin-bottom: -1px;
      width: 14px;
      height: 14px;
    }
  }
}

.custom-radio {
  display: inline-block;
  position: relative;
  max-width: 100%;
  width: 100%;
  padding-left: 30px;
  margin-right: 15px;
  cursor: pointer;

  color: #212b36;

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  @media (max-width: $breakpoint-large) {
    padding-left: 30px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 22px;
  }
}

.custom-radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #637381;
  border-radius: 50%;
  @media (max-width: $breakpoint-large) {
    height: 20px;
    width: 20px;
    border: 2px solid #637381;
  }
}

.custom-radio-input:checked ~ .custom-radio-indicator {
  border-color: $accent; /* Color for selected state */
}

.custom-radio-indicator::after {
  content: '';
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: $accent; /* Color for selected state */
  border-radius: 50%;

  @media (max-width: $breakpoint-large) {
    width: 10px;
    height: 10px;
  }
}

.custom-radio-input:checked ~ .custom-radio-indicator::after {
  display: block;
}

/* Optional: Hover state */
.custom-radio:hover .custom-radio-indicator {
  border-color: #999;
}

/* Optional: Disabled state */
.custom-radio-input:disabled ~ .custom-radio-indicator {
  border-color: #ddd;
  cursor: not-allowed;
}

.d-page-select {
  &.selected .current {
    color: #212b36;
    max-width: 89%;
    width: 100%;
    overflow: hidden;
  }
  &.nice-select {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    color: #919eab;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 8px;
    background: rgba(145, 158, 171, 0.08);
    border: none;
    &.open {
      color: $text;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      width: 24px;
      height: 24px;
      background-image: url('@img/icons/select-angle-down.svg');
      transition: all 0.3s;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.open::after {
      transform: rotate(180deg) translateY(50%);
    }
    .option.disabled {
      display: none;
    }
    .optgroup {
      padding: 0 10px;
    }
    .option {
      padding-top: 8px;
      padding-bottom: 8px;
      line-height: 1.4;
      white-space: normal;
    }
  }
  .nice-select-dropdown {
    max-width: 100%;
    width: 100%;
  }

  @media (max-width: $breakpoint-large) {
    &.nice-select {
      margin-bottom: 18px;
      padding: 0 12px;
      font-size: 16px;
      line-height: 24px;
      border-radius: 8px;
      &::after {
        right: 12px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  padding-left: 30px; /* Расстояние между текстом и чекбоксом */
  user-select: none;

  i {
    color: #919eab;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-left: 4px;
  }
  b {
    color: #222;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  @media (max-width: $breakpoint-large) {
    font-size: 16px;
    padding-left: 30px;

    i {
      font-size: 16px;
      margin-left: 4px;
    }
    b {
      font-size: 16px;
    }
  }
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: $accent; /* Синий фон */
  border: 1px solid $accent; /* Белая рамка */
  border-radius: 4px;
  margin-top: -3px;

  @media (max-width: $breakpoint-large) {
    height: 24px;
    width: 24px;
    border: 1px solid $accent; /* Белая рамка */
    border-radius: 4px;
    margin-top: -3px;
  }
}

.custom-checkbox input:checked ~ .checkmark:after {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;

  width: 5px;
  height: 10px;
  border: solid #fff; /* Белая стрелочка */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translate(-50%, -50%);

  @media (max-width: $breakpoint-large) {
    width: 5px;
    height: 10px;
    border-width: 0 2px 2px 0;
  }
}
.custom-checkbox input:not(:checked) ~ .checkmark {
  border: 1px solid #c3d0dd;
  background-color: #fff;

  @media (max-width: $breakpoint-large) {
    border: 1px solid #c3d0dd;
  }
}
