<div class="adminLogin" data-login="wrapper">
  <div class="adminLogin__inner container">
    <form class="adminLogin__box" data-login="main">
      <h4 class="adminLogin__title title-4">Log in to the system</h4>
      <div class="adminLogin__info">
        You can get a login and password by leaving a request on our <a href="#">website</a> or by
        writing to the mail <a href="mailto:info@roundranking.com">info@roundranking.com</a>
      </div>
      <div class="adminLogin__inputBox">
        @@include('../../components/LoginDefaultInputComponent/login-default-input.html', {
          "placeholder": "Username"
        })
        @@include('../../components/LoginPasswordInputComponent/login-password-input.html', {
          "placeholder": "Password"
        })
      </div>
      <button class="adminLogin__button d-button" data-login="button">Log in</button>
      <a href="#" class="adminLogin__forgot" data-login="forgot">Forgot your password?</a>
    </form>
    <div class="adminLogin__box" data-login="recovery">
      <a href="#" class="adminLogin__goBack" data-login="back">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4L6 8L10 12" stroke="#2B8CD9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Back
      </a>
      <h4 class="adminLogin__title title-4">Password Recovery</h4>
      <div class="adminLogin__info">
        Leave your email and we will send you a link to restore access
      </div>
      <div class="adminLogin__inputBox">
        @@include('../../components/LoginDefaultInputComponent/login-default-input.html', {
          "placeholder": "E-mail"
        })
      </div>
      <button class="adminLogin__button d-button" data-login="button">Recover Password</button>
    </div>
  </div>
</div>
