<div class="articleGallery" id="articleGallery">
  <div class="articleGallery__topImage">
    <img src="@img/content/universities-images/item-1.jpg" alt="image" />
  </div>
  <div class="articleGallery__bottomImages">
    <div class="articleGallery__bottomImage">
      <img src="@img/content/universities-images/item-1.jpg" alt="image" />
    </div>
    <div class="articleGallery__bottomImage">
      <img src="@img/content/universities-images/item-1.jpg" alt="image" />
    </div>
  </div>
</div>
