.aboutBenefits {
  &__title {
    color: $text;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
  }
  &__box {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .articleAccent:last-of-type {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}
