<div class="methodologyReputationRanking">
  <h4 class="methodologyAbout__title">
    Methodology of RUR reputation ranking
  </h4>
  @@include('../../Article/ArticleTextComponent/article-text.html', {
    "text": "RUR Reputation ranking is based on two indicators, similar with RUR World University Ranking methodology:"
  })
  <div class="methodologyReputationRanking__box">
    <div class="methodologyReputationRanking__item">
      <div class="methodologyReputationRanking__item-icon">
        <img src="@img/icons/methodology/item-1.svg" alt="icon">
      </div>
      Teaching Reputation (50%)
    </div>
    <div class="methodologyReputationRanking__item">
      <div class="methodologyReputationRanking__item-icon">
        <img src="@img/icons/methodology/item-2.svg" alt="icon">
      </div>
      Research Reputation (50%)
    </div>
  </div>
  @@include('../../Article/ArticleTextComponent/article-text.html', {
    "text": "The final score of university is equal to the average score on the two indicators above (2010-2017 rankings editions). RUR 2018-2019 Reputation Rankings are based directly on the raw reputation data which is the share of total number of votes obtained by a particular institution in the framework of an academic reputation survey. <br><br>If universities share the same score, they are given the same rank. This rank is assigned based on the average arithmetic mean of the universities’ interval with the same point value. For example, if 10 universities in the 100-110 range obtained the same score, such universities are given the same rank – 105th. <br><br>The RUR Reputation ranking is entirely based on special reputational data survey run by Clarivate Analytics annually via its Academic Reputation Survey."
  })
</div>