<div class="articleLinks">
  @@include('../ArticleTextComponent/article-text.html', {
    "text": "Round University Ranking Group has released rankings by 6 subject areas on December 7th, 2022. In total more than 1000 world leading universities representing 70th nations took part in subject ranking You can see rankings in tables by the below links:"
  })
  <div class="articleLinks__list">
    <a href="#" class="articleLinks__list-item">
      RUR Humanities 2022
    </a>
    <a href="#" class="articleLinks__list-item">
      RUR Humanities 2022
    </a>
    <a href="#" class="articleLinks__list-item">
      RUR Humanities 2022
    </a>
    <a href="#" class="articleLinks__list-item">
      RUR Humanities 2022
    </a>
    <a href="#" class="articleLinks__list-item">
      RUR Humanities 2022
    </a>
    <a href="#" class="articleLinks__list-item">
      RUR Humanities 2022
    </a>
  </div>
  @@include('../ArticleTextComponent/article-text.html', {
    "text": "Institutional profiles were updated as well with subject data. For the majority universities, subject level data is <a>now available</a> in Universitiessection."
  })
</div>