<div class="profilesDataBrief admin-box-item">
  <h6 class="profilesDataBrief__title admin-box-item-title">
    Brief information
  </h6>
  <div class="profilesDataBrief__box">
    <div class="profilesDataBrief__column">
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Foundation year",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Short Name",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Faculty",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Students",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
    </div>
    <div class="profilesDataBrief__column">
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Type",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Website",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Region",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      })
    </div>
  </div>
</div>