<section class="benefits">
  <div class="benefits__inner container">
    <div class="benefits__topLine">
      <div class="benefits__item">
        <h4 class="benefits__item-title">8.2 million</h4>
        <p class="benefits__item-text">datapoints</p>
      </div>
      <div class="benefits__item">
        <h4 class="benefits__item-title">1200</h4>
        <p class="benefits__item-text">leading world universities</p>
      </div>
      <div class="benefits__item">
        <h4 class="benefits__item-title">54 000</h4>
        <p class="benefits__item-text">university profiles</p>
      </div>
      <div class="benefits__item">
        <h4 class="benefits__item-title">85</h4>
        <p class="benefits__item-text">countries</p>
      </div>
    </div>
    <div class="benefits__bottomLine">
      <div class="benefits__item">
        Rankings <br />
        2010-2023
      </div>
      <div class="benefits__item">
        Map of world <br />
        universities
      </div>
      <div class="benefits__item">
        Advanced analytics forstudents, <br />
        academics,policy makers
      </div>
      <div class="benefits__item">
        Institutional <br />
        comparison
      </div>
      <div class="benefits__item">
        Transparent evalutionsystem <br />
        in highereducation sector
      </div>
    </div>
  </div>
</section>
