<div class="newsCard swiper-slide">
  <div class="newsCard__date">
    <div class="newsCard__date-day">@@day</div>
    <div class="newsCard__date-month">@@month</div>
  </div>
  <div class="newsCard__image">
    <img src="@@image" alt="news-image" />
  </div>
  <h5 class="newsCard__title">@@title</h5>
  <div class="newsCard__button link-button">
    More detailed
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M5.25 10.5L8.75 7L5.25 3.5"
        stroke="#2B8CD9"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</div>
