.contacts-page {
  .page-head__form {
    margin-bottom: -230px;
  }
  .page-head {
    margin-bottom: 180px;
    padding-bottom: 60px;
  }

  @media (max-width: $breakpoint-large) {
    .page-head__form {
      margin-bottom: 0px;
    }
    .page-head {
      margin-bottom: 64px;
      padding-bottom: 40px;
    }
  }
}
