.contacts-page {
  .page-head__form {
  }
  .page-head {
    margin-bottom: 0px;
    padding-bottom: 90px;
  }
  .footer {
    border-radius: 0;
  }
  @media (max-width: $breakpoint-large) {
    .page-head__form {
      margin-bottom: 0px;
    }
    .page-head {
      padding-bottom: 90px;
    }
  }
}
