<div class="caveatNotes">
  <h4 class="caveatNotes__title title-4">Important notes</h4>
  <div class="caveatNotes__box">
    @@include('../../../../layouts/components/_Article/ArticleAccentComponent/article-accent.html', {
      "items": [
        {
          "title": "All caveat statements must be entered in English.",
          "text": "This indicator evaluates citations of research publications of all university authors compared with world averages. It demonstrates how much above or below in percentage the university is ranked in comparison with the world average (which is taken as 100%)."
        },
        {
          "title": "You may submit multiple caveats, however, all statements must be entered into the single caveat field. Each caveat statement field is limited to 2 000 characters with spaces.",
          "text": ""
        },
        {
          "title": "Caveat statement examples:",
          "text": "<ul><li>“The data for xxxx University are based on fiscal year, not calendar year.”</li><li>“Due to the fact that many admitted students enter the university with an undeclared major or program of study, the breakdown of admitted students by area of study was estimated using the enrollment of upperclassmen students in these areas.”</li><li>Undergraduate - new student intake - The data provided includes “bachelors-equivalent” student commencements only - i.e. these figures do not include other commencing undergraduates, such as diploma/certificate level students.”</li>"
        }
      ]
    })
  </div>
</div>