<div class="pageSearch">
  <div class="pageSearch__inner container">
    <div class="pageSearch__inputWrapper">
      <select
        id="rankingSearchFilter-mention"
        class="rankingSearchSelect pageSearch__input page-select-searchable d-page-select page-select"
      >
        <option value="" disabled selected>Search university</option>
        <option value="usa">USA</option>
        <option value="china">China</option>
        <option value="uk">United Kindom</option>
      </select>
    </div>
  </div>
</div>
