<div class="participationInfo">
  @@include('../../Article/ArticleTextComponent/article-text.html', {
    "text": "Key benefits for your university to take part in Round University Ranking (RUR):"
  })
  <div class="participationInfo__box">
    <div class="methodologyKey__item">20 indicators that cover all key areas of university activities: teaching, research, international diversity and financial sustainability.</div>
    <div class="methodologyKey__item">Detailed statistics of all institutions, which includes user-friendly profiles with both ranks and scores on each of 20 indicators and separately measured 4 key areas.</div>
    <div class="methodologyKey__item">Access to 1100 profiles of leading world universities.</div>
    <div class="methodologyKey__item">Visitors from over 100 countries including world capitals: London, New York, Tokyo, Los Angeles, Paris, Berlin, Moscow, Singapore, Hong Kong etc.</div>
    <div class="methodologyKey__item">RUR is way to promote your university brand in worlds and national mass media by highlighting your university performance in the ranking.</div>
    <div class="methodologyKey__item">RUR is an inclusive evaluation system without any limitations for participation. All higher education institutions in the world are welcome to take part in RUR.</div>
  </div>
</div>