<div class="rankingDataBar">
  <div class="rankingDataBar__box">
    <div class="rankingDataBar__box-text">Progress bar</div>

    <div class="rankingDataBar__box-item">
      <div data-bar-progress style="right: 95%">
        <span class="rankingDataBar__value"> <span data-bar-progress-value>5%</span> / 100% </span>
      </div>
      <span class="rankingDataBar__value hidden">
        <span data-bar-progress-value>5%</span> / 100%
      </span>
    </div>
  </div>
  <button class="rankingDataBar__button d-button">Save Changes</button>
</div>
