<div class="methodologyStages">
  <h4 class="methodologyAbout__title title-4">
    Stages of rating creation
  </h4>
  @@include('../../Article/ArticleTextComponent/article-text.html', {
    "text": "The initial data are absolute values, which are grouped into three categories (for details on each category refer to the beginning of this review about the RUR ranking methodology). In total, there are 19 initial parameters used to calculate 20 ranking indicators."
  })
  <div class="methodologyAccordeon">
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <div class="methodologyAccordeon__step">
          <span>Step 1.</span>
          Processing the initial ranking data
        </div>
        <div class="methodologyAccordeon__toggler">
          <svg
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="32"
              y="0.5"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 32 0.5)"
              fill="white"
            />
            <path
              d="M21.25 14.5L16 19.75L10.75 14.5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat odio veritatis,
        expedita eveniet sit aliquam tenetur facilis? Earum vel amet mollitia aspernatur aperiam
        saepe, dignissimos culpa assumenda, nulla doloremque eos odit. Vel dignissimos deserunt sed
        cupiditate quam officia dolores iusto velit, ipsa, reprehenderit repudiandae laudantium,
        dicta aliquam enim laborum est id neque? Commodi pariatur vel modi quam assumenda.
        Perferendis fuga vero reiciendis eum, deserunt illo corrupti culpa veniam voluptate quasi
        non, eligendi dolorum explicabo voluptas impedit, eius aut odio facilis itaque molestiae
        distinctio? Id ab nesciunt qui? Maiores, deleniti unde illum ipsum corporis rem quaerat
        voluptatem quos aliquid velit.
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <div class="methodologyAccordeon__step">
          <span>Step 2.</span>
          Raw data processing
        </div>
        <div class="methodologyAccordeon__toggler">
          <svg
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="32"
              y="0.5"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 32 0.5)"
              fill="white"
            />
            <path
              d="M21.25 14.5L16 19.75L10.75 14.5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat odio veritatis,
        expedita eveniet sit aliquam tenetur facilis? Earum vel amet mollitia aspernatur aperiam
        saepe, dignissimos culpa assumenda, nulla doloremque eos odit. Vel dignissimos deserunt sed
        cupiditate quam officia dolores iusto velit, ipsa, reprehenderit repudiandae laudantium,
        dicta aliquam enim laborum est id neque? Commodi pariatur vel modi quam assumenda.
        Perferendis fuga vero reiciendis eum, deserunt illo corrupti culpa veniam voluptate quasi
        non, eligendi dolorum explicabo voluptas impedit, eius aut odio facilis itaque molestiae
        distinctio? Id ab nesciunt qui? Maiores, deleniti unde illum ipsum corporis rem quaerat
        voluptatem quos aliquid velit.
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <div class="methodologyAccordeon__step">
          <span>Step 3.</span>
          Relative values calculation
        </div>
        <div class="methodologyAccordeon__toggler">
          <svg
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="32"
              y="0.5"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 32 0.5)"
              fill="white"
            />
            <path
              d="M21.25 14.5L16 19.75L10.75 14.5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat odio veritatis,
        expedita eveniet sit aliquam tenetur facilis? Earum vel amet mollitia aspernatur aperiam
        saepe, dignissimos culpa assumenda, nulla doloremque eos odit. Vel dignissimos deserunt sed
        cupiditate quam officia dolores iusto velit, ipsa, reprehenderit repudiandae laudantium,
        dicta aliquam enim laborum est id neque? Commodi pariatur vel modi quam assumenda.
        Perferendis fuga vero reiciendis eum, deserunt illo corrupti culpa veniam voluptate quasi
        non, eligendi dolorum explicabo voluptas impedit, eius aut odio facilis itaque molestiae
        distinctio? Id ab nesciunt qui? Maiores, deleniti unde illum ipsum corporis rem quaerat
        voluptatem quos aliquid velit.
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <div class="methodologyAccordeon__step">
          <span>Step 4.</span>
          Scores calculation
        </div>
        <div class="methodologyAccordeon__toggler">
          <svg
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="32"
              y="0.5"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 32 0.5)"
              fill="white"
            />
            <path
              d="M21.25 14.5L16 19.75L10.75 14.5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat odio veritatis,
        expedita eveniet sit aliquam tenetur facilis? Earum vel amet mollitia aspernatur aperiam
        saepe, dignissimos culpa assumenda, nulla doloremque eos odit. Vel dignissimos deserunt sed
        cupiditate quam officia dolores iusto velit, ipsa, reprehenderit repudiandae laudantium,
        dicta aliquam enim laborum est id neque? Commodi pariatur vel modi quam assumenda.
        Perferendis fuga vero reiciendis eum, deserunt illo corrupti culpa veniam voluptate quasi
        non, eligendi dolorum explicabo voluptas impedit, eius aut odio facilis itaque molestiae
        distinctio? Id ab nesciunt qui? Maiores, deleniti unde illum ipsum corporis rem quaerat
        voluptatem quos aliquid velit.
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <div class="methodologyAccordeon__step">
          <span>Step 5.</span>
          RUR World University Rankings scores and positions calculation
        </div>
        <div class="methodologyAccordeon__toggler">
          <svg
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="32"
              y="0.5"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 32 0.5)"
              fill="white"
            />
            <path
              d="M21.25 14.5L16 19.75L10.75 14.5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat odio veritatis,
        expedita eveniet sit aliquam tenetur facilis? Earum vel amet mollitia aspernatur aperiam
        saepe, dignissimos culpa assumenda, nulla doloremque eos odit. Vel dignissimos deserunt sed
        cupiditate quam officia dolores iusto velit, ipsa, reprehenderit repudiandae laudantium,
        dicta aliquam enim laborum est id neque? Commodi pariatur vel modi quam assumenda.
        Perferendis fuga vero reiciendis eum, deserunt illo corrupti culpa veniam voluptate quasi
        non, eligendi dolorum explicabo voluptas impedit, eius aut odio facilis itaque molestiae
        distinctio? Id ab nesciunt qui? Maiores, deleniti unde illum ipsum corporis rem quaerat
        voluptatem quos aliquid velit.
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <div class="methodologyAccordeon__step">
          <span>Step 6.</span>
          Calculation of scores and positions by measured groups
        </div>
        <div class="methodologyAccordeon__toggler">
          <svg
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="32"
              y="0.5"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 32 0.5)"
              fill="white"
            />
            <path
              d="M21.25 14.5L16 19.75L10.75 14.5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat odio veritatis,
        expedita eveniet sit aliquam tenetur facilis? Earum vel amet mollitia aspernatur aperiam
        saepe, dignissimos culpa assumenda, nulla doloremque eos odit. Vel dignissimos deserunt sed
        cupiditate quam officia dolores iusto velit, ipsa, reprehenderit repudiandae laudantium,
        dicta aliquam enim laborum est id neque? Commodi pariatur vel modi quam assumenda.
        Perferendis fuga vero reiciendis eum, deserunt illo corrupti culpa veniam voluptate quasi
        non, eligendi dolorum explicabo voluptas impedit, eius aut odio facilis itaque molestiae
        distinctio? Id ab nesciunt qui? Maiores, deleniti unde illum ipsum corporis rem quaerat
        voluptatem quos aliquid velit.
      </div>
    </div>
    <div class="methodologyAccordeon__item">
      <div class="methodologyAccordeon__head">
        <div class="methodologyAccordeon__step">
          <span>Step 7.</span>
          Calculation of subject rankings
        </div>
        <div class="methodologyAccordeon__toggler">
          <svg
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="32"
              y="0.5"
              width="32"
              height="32"
              rx="16"
              transform="rotate(90 32 0.5)"
              fill="white"
            />
            <path
              d="M21.25 14.5L16 19.75L10.75 14.5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="methodologyAccordeon__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis repellat odio veritatis,
        expedita eveniet sit aliquam tenetur facilis? Earum vel amet mollitia aspernatur aperiam
        saepe, dignissimos culpa assumenda, nulla doloremque eos odit. Vel dignissimos deserunt sed
        cupiditate quam officia dolores iusto velit, ipsa, reprehenderit repudiandae laudantium,
        dicta aliquam enim laborum est id neque? Commodi pariatur vel modi quam assumenda.
        Perferendis fuga vero reiciendis eum, deserunt illo corrupti culpa veniam voluptate quasi
        non, eligendi dolorum explicabo voluptas impedit, eius aut odio facilis itaque molestiae
        distinctio? Id ab nesciunt qui? Maiores, deleniti unde illum ipsum corporis rem quaerat
        voluptatem quos aliquid velit.
      </div>
    </div>
  </div>
</div>