<div class="rankingAsideFilter-backdrop" data-filter="backdrop"></div>
<div class="rankingAsideFilter" data-filter="wrapper">
  <div class="rankingAsideFilter__mobileClose" data-filter="close">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18 6L6 18"
        stroke="#CFCFCF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M6 6L18 18"
        stroke="#CFCFCF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div class="rankingAsideFilter__title">Filter</div>
  <select id="rankingAsideFilter-year" class="rankingAsideFilter__select d-page-select page-select">
    <option value="" disabled selected>Year</option>
    <option value="2023">2023</option>
    <option value="2022">2022</option>
    <option value="2021">2021</option>
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
    <option value="2016">2016</option>
    <option value="2015">2015</option>
    <option value="2014">2014</option>
    <option value="2013">2013</option>
    <option value="2012">2012</option>
    <option value="2011">2011</option>
    <option value="2010">2010</option>
  </select>
  <select
    id="rankingAsideFilter-ranking"
    class="rankingAsideFilter__select d-page-select page-select"
  >
    <option value="" disabled selected>Ranking</option>
    <option value="world_rank">World rank</option>
    <option value="country_rank">Country rank</option>
    <option value="university_score">University score</option>
  </select>
  <select
    id="rankingAsideFilter-region"
    class="rankingAsideFilter__select d-page-select page-select"
  >
    <option value="" disabled selected>Region</option>
    <option value="usa">USA</option>
    <option value="china">China</option>
    <option value="uk">United Kindom</option>
  </select>
  <select
    id="rankingAsideFilter-location"
    class="rankingAsideFilter__select d-page-select page-select"
  >
    <option value="" disabled selected>Location</option>
    <option value="usa">USA</option>
    <option value="china">China</option>
    <option value="uk">United Kindom</option>
  </select>
  <div class="rankingAsideFilter__type">
    <div class="rankingAsideFilter__type-title">Type</div>
    <label class="custom-radio">
      <input type="radio" name="radio-group" checked class="custom-radio-input" />
      <span class="custom-radio-indicator"></span>
      Private
    </label>
    <label class="custom-radio">
      <input type="radio" name="radio-group" class="custom-radio-input" />
      <span class="custom-radio-indicator"></span>
      Public
    </label>
  </div>
  <button class="rankingAsideFilter__mobileButton" data-filter="close">Search</button>
</div>
