.rankingAsideFilter {
  padding: 24px;
  max-width: 100%;
  width: 100%;
  border-radius: 20px;
  background: #fff;
  padding-bottom: 80px;

  &__title {
    color: $text;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;

    [data-filter='counter'] {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $accent;
      color: #fff;
      opacity: 1;
      transition: all 0.3s;

      &:not(.has-filters) {
        opacity: 0;
      }
    }
  }

  .ranking-select-year {
    margin-top: 8px;
  }
  &__title-clear {
    margin-left: auto;
    color: $accent;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;

    &:not(.has-filters) {
      display: none;
    }
  }
  &__bubble {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 24px;

    &:not(.has-filters) {
      display: none;
    }
  }
  &__bubble-item {
    padding: 4px 8px;
    padding-right: 32px;
    border-radius: 24px;
    border: 1px solid #e7e7e7;
    position: relative;
  }
  &__bubble-itemName {
    font-size: 16px;

    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__bubble-itemClose {
    font-size: 20px;
    position: absolute;
    top: 49%;
    cursor: pointer;
    right: 4px;
    transform: translateY(-50%);
    padding: 5px;

    &:hover {
      color: #d10000;
    }
  }
  &__select {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 56px;

    position: relative;

    .placeholder {
      display: inline-block !important;
      position: absolute;
      background-color: rgba(#fff, 0.5);
      padding: 0 1px;
      border-radius: 0px;
      color: #4d4d4d;
      font-size: 14px;
      z-index: 0;
      top: -7px;
      line-height: 1;
      left: 12px;
      user-select: none;
      opacity: 0;
      transition: all 0.5s;
    }
  }
  &__type {
    padding: 9px 0px 8px 12px;
    border-radius: 8px;
    background: rgba(145, 158, 171, 0.08);
    margin-top: 78px;
    label + label {
      margin-top: 12px;
    }
  }
  &__type-title {
    color: #919eab;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 10px;
  }
  &__mobileButton {
    display: none;
  }
  &__mobileClose {
    display: none;
  }

  @media (max-width: $breakpoint-large) {
    position: fixed;
    bottom: -200px;
    right: 0;
    left: 0;

    max-height: calc(var(--doc-height) + 200px);
    overflow: auto;

    opacity: 0;
    transform: translateY(800px);
    transition: all 0.3s;

    &.opened {
      opacity: 1;
      transform: translateY(0);
    }

    &-backdrop {
      position: fixed;
      top: 0;
      bottom: -200px;
      right: 0;
      left: 0;
      z-index: 1000;
      background: rgba(7, 35, 69, 0.2);
      transition: all 0.3s;
      display: none;

      opacity: 0;

      &.opened {
        opacity: 1;
      }
    }

    padding: 24px;
    border-radius: 20px;
    padding-bottom: 224px;
    z-index: 1010;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    &__title {
      font-size: 18px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      gap: 10px;

      [data-filter='counter'] {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $accent;
        color: #fff;
        opacity: 1;
        transition: all 0.3s;
        line-height: 1;

        &:not(.has-filters) {
          opacity: 0;
        }
      }
    }
    &__title-clear {
      margin-left: auto;
      color: $accent;
      font-weight: 600;
      cursor: pointer;
      font-size: 16px;
      padding-right: 40px;

      &:not(.has-filters) {
        display: none;
      }
    }
    &__bubble {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 4px;
      margin-bottom: 24px;

      &:not(.has-filters) {
        display: none;
      }
    }
    &__bubble-item {
      padding: 4px 8px;
      padding-right: 32px;
      border-radius: 24px;
      border: 1px solid #e7e7e7;
      position: relative;
    }
    &__bubble-itemName {
      font-size: 16px;
    }
    &__bubble-itemClose {
      font-size: 20px;
      position: absolute;
      top: 44%;
      cursor: pointer;
      right: 4px;
      transform: translateY(-50%);
      padding: 5px;

      &:hover {
        color: #d10000;
      }
    }
    &__select {
      height: 56px;
      .option {
        padding: 10px;
      }
      .list {
        max-height: 240px;
      }

      .placeholder {
        display: inline-block !important;
        position: absolute;
        background-color: rgba(#fff, 0.5);
        padding: 0 1px;
        border-radius: 0px;
        color: #4d4d4d;
        font-size: 14px;
        z-index: 0;
        top: -7px;
        line-height: 1;
        left: 12px;
        user-select: none;
        opacity: 0;
        transition: all 0.5s;
      }
    }
    &__type {
      padding: 9px 0px 8px 12px;
      border-radius: 8px;
      margin-top: 78px;
      label + label {
        margin-top: 12px;
      }
    }
    &__type-title {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 10px;
    }
    &__mobileButton {
      display: block;
      padding: 13px 10px 13px 7px;
      border-radius: 8px;
      background-color: $accent;
      color: #fff;
      font-size: 17px;
      font-weight: 600;
      line-height: 120%;
      max-width: 100%;
      width: 100%;
      margin-top: 15px;
    }
    &__mobileClose {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 23px;
      right: 24px;
    }
    &__select--bottom .nice-select-dropdown {
      bottom: 105% !important;
      top: auto !important;
    }
  }
}
