<div class="newsItem">
  <div class="newsCard__date">
    <div class="newsCard__date-day">@@day</div>
    <div class="newsCard__date-month">@@month</div>
  </div>
  <div class="newsCard__image">
    <img src="@@image" alt="news-image" />
  </div>
  <div class="newsItem__content">
    <h5 class="newsCard__title">@@title</h5>
    <p class="newsItem__text">
      The Round University Ranking Team is pleased to announce the publication of the RUR 2023 World
      University Ranking. The current edition of the ranking witnessed the active participation of
      over 1200 universities from a wide range of geographical locations, representing more than 80
      nations. Notably, our methodology and data sources have undergone significant revisions and
      improvements. Plese see click "Continue" to see more details.
    </p>
    <div class="newsItem__button link-button">
      Continue
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.25 10.5L8.75 7L5.25 3.5"
          stroke="#2B8CD9"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</div>
