<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__top">
      <a href="/" class="footer__top-logo">
        <img src="@img/global/big-logo.png" alt="logo" />
      </a>
      <div class="footer__top-content">
        <div class="footer__top-col footer__top-contacts">
          <a href="tel:995322193369" class="footer__top-call">+995 322 19 33 69</a>
          <a href="mailto:info@roundranking.com" class="footer__top-mail">info@roundranking.com</a>
        </div>
        <div class="footer__top-col footer__top-address">
          0177 Georgia, Tbilisi, Saburtalo district, Nutsubidze <br />
          plateau, IV micro / district, building 21
        </div>
      </div>
    </div>
    <div class="footer__box">
      <div class="footer__rankings">
        <h6 class="footer__rankings-title">Rankings</h6>
        <div class="footer__rankings-box">
          <a href="#" class="footer__rankings-link">Rankings Overview</a>
          <a href="#" class="footer__rankings-link">Rankings by Indicators</a>
          <a href="#" class="footer__rankings-link">World University Ranking</a>
          <a href="#" class="footer__rankings-link">Reputation Ranking</a>
          <a href="#" class="footer__rankings-link">Dimension Rankings</a>
          <a href="#" class="footer__rankings-link">Academic Ranking</a>
          <a href="#" class="footer__rankings-link">Subject Rankings</a>
          <a href="#" class="footer__rankings-link">Methodology</a>
          <a href="#" class="footer__rankings-link">Country Rankings</a>
          <a href="#" class="footer__rankings-link">About RUR Ranking</a>
        </div>
      </div>
      <div class="footer__links">
        <a href="#" class="footer__link">Universities</a>
        <a href="#" class="footer__link">Countries Overview</a>
        <a href="#" class="footer__link">Countries Map</a>
        <a href="#" class="footer__link">News</a>
        <a href="#" class="footer__link">About us</a>
        <a href="#" class="footer__link">Contacts</a>
        <a href="#" class="footer__link">Cookie policy</a>
        <a href="#" class="footer__link">Terms & conditions</a>
        <a href="#" class="footer__link">Privacy</a>
      </div>
    </div>
  </div>
</footer>
