.linksBanner {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 -20px;
    width: 110%;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    padding: 24px;
    border-radius: 20px;
    background-color: $bg-gray;
    transition: all 0.3s;

    color: $text;
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;

    svg {
      width: 24px;
      height: 24px;
    }

    svg path {
      transition: all 0.3s;
    }

    &:hover {
      color: #fff;
      svg path {
        stroke: #fff;
      }

      &.linksBanner__item--rankings {
        background-color: #ffc36c;
      }
      &.linksBanner__item--countriesOverview {
        background-color: #48c1c0;
      }
      &.linksBanner__item--methodology {
        background-color: #2b8cd9;
      }
    }
  }
  &__item-content {
    display: flex;
    align-items: center;
    gap: 18px;

    img {
      width: 54px;
      height: 54px;
    }
  }
  &__item-arrow {
    margin-bottom: -8px;
  }

  @media (max-width: $breakpoint-large) {
    &__inner {
      padding: 0 20px;
      border-radius: 20px;
      margin: 0;
      display: block;
    }
    &__item {
      padding: 24px;
      border-radius: 20px;
      font-size: 24px;
      margin: 0;
      max-width: 91%;
      width: 100%;

      svg {
        width: 24px;
        height: 24px;
      }
    }
    &__item + .linksBanner__item {
      margin: 0;
      margin-top: 12px;
    }
    &__item-content {
      gap: 18px;

      img {
        width: 54px;
        height: 54px;
      }
    }
    &__item-arrow {
      margin-bottom: -8px;
    }
  }
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 40px;
    &__inner {
      padding: 20px;
      margin-left: -20px;
    }
    &__item {
      padding: 20px 28px;
      max-width: 100%;
      width: 100%;
    }
    &__item-content {
      font-size: 16px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
