<div class="linksBanner">
  <div class="linksBanner__inner container">
    <a href="#" class="linksBanner__item linksBanner__item--rankings">
      <div class="linksBanner__item-content">
        <img src="@img/global/rankings-icon.svg" alt="rankings icon" />
        Rankings
      </div>
      <div class="linksBanner__item-arrow">
        <svg
          width="25"
          height="24"
          viewBox="0 0 25 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.66602 5L16.666 12L9.66602 19"
            stroke="#FFC36C"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </a>
    <a href="#" class="linksBanner__item linksBanner__item--countriesOverview">
      <div class="linksBanner__item-content">
        <img src="@img/global/countries-overview.svg" alt="rankings icon" />
        Countries Overview
      </div>
      <div class="linksBanner__item-arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M9 5L16 12L9 19"
            stroke="#48C1C0"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </a>
    <a href="#" class="linksBanner__item linksBanner__item--methodology">
      <div class="linksBanner__item-content">
        <img src="@img/global/methodology.svg" alt="rankings icon" />
        Methodology
      </div>
      <div class="linksBanner__item-arrow">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M9 5L16 12L9 19"
            stroke="#2B8CD9"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </a>
  </div>
</div>
