.participationInfo {
  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }

  @media (max-width: $breakpoint-large) {
    &__box {
      gap: 8px;
      margin-top: 16px;
    }
  }
}
