<div class="articleSlider swiper">
  <div class="swiper-wrapper">
    <div class="articleSlider__item swiper-slide">
      <img src="@img/content/universities-images/item-1.jpg" alt="image" />
    </div>
    <div class="articleSlider__item swiper-slide">
      <img src="@img/content/universities-images/item-1.jpg" alt="image" />
    </div>
    <div class="articleSlider__item swiper-slide">
      <img src="@img/content/universities-images/item-1.jpg" alt="image" />
    </div>
    <div class="articleSlider__item swiper-slide">
      <img src="@img/content/universities-images/item-1.jpg" alt="image" />
    </div>
    <div class="articleSlider__item swiper-slide">
      <img src="@img/content/universities-images/item-1.jpg" alt="image" />
    </div>
  </div>
  <div class="articleSlider__pagination"></div>
</div>
