.methodologyTop {
  &__title {
    margin-bottom: 15px;
  }
  &__box {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @media (max-width: $breakpoint-large) {
    &__title {
      margin-bottom: 15px;
    }
    &__box {
      grid-gap: 12px;
    }
  }
  @media (max-width: $breakpoint-medium) {
    &__box {
      display: flex;
      flex-direction: column;
    }
  }
}
