<div class="submitModalItem">
  <div class="submitModalItem__title">@@title</div>
  <div class="submitModalItem__checkWrapper">
    <label class="custom-checkbox">
      <b>2020</b>
      <i>RUR 2023</i>
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="submitModalItem__checkWrapper">
    <label class="custom-checkbox">
      <b>2021</b>
      <i>RUR 2024</i>
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="submitModalItem__checkWrapper">
    <label class="custom-checkbox">
      <b>2022</b>
      <i>RUR 2025</i>
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="submitModalItem__checkWrapper">
    <label class="custom-checkbox">
      <b>2023</b>
      <i>RUR 2025</i>
      <input type="checkbox" />
      <span class="checkmark"></span>
    </label>
  </div>
</div>
