.loginPasswordInput {
  position: relative;
  &__toggleVisibility {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }
  &.loginDefaultInput-error .loginPasswordInput__toggleVisibility {
    transform: translateY(-90%);
  }
  input[type='password'] ~ .loginPasswordInput__toggleVisibility img.hide {
    display: none;
  }
  input[type='text'] ~ .loginPasswordInput__toggleVisibility img.show {
    display: none;
  }
}
