<div class="profilesDataGallery admin-box-item">
  <div class="profilesDataGallery__box">
    <div class="profilesDataGallery__column">
      <h6 class="profilesDataDescription__title admin-box-item-title">Main photo</h6>
      <p class="profilesDataDescription__text">
        This photo will be displayed first on the profile page
      </p>
      @@include('../../_DataUI/DataUploadComponent/data-upload-large.html', {
        "text": "Drag and drop files here or click to upload.",
        "name": "profilesDataGallery-upload-large-photos-1",
        "type": "image",
        "label": "Allowed *.jpeg, *.jpg, *.png, *.gif <br />Max size of 30 MB"
      })
    </div>
    <div class="profilesDataGallery__column">
      <h6 class="profilesDataDescription__title admin-box-item-title">Photos for the gallery</h6>
      <p class="profilesDataDescription__text">You can upload up to 10 photos here</p>
      <div class="profilesDataGallery__photos">
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-1",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-2",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-3",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-4",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-5",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-6",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-7",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-8",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-9",
          "label": ""
        })
        @@include('../../_DataUI/DataUploadComponent/data-upload.html', {
          "text": "",
          "name": "profilesDataGallery-upload-photos-10",
          "label": ""
        })
      </div>
    </div>
  </div>
</div>
