<div class="caveatTable">
  <h4 class="caveatTable__title title-4">Last caveat statements</h4>
  <div class="caveatTable__box">
    <div class="caveatTable__row caveatTable__head">
      <div class="caveatTable__item caveatTable__headItem caveatTable__item-date">Date</div>
      <div class="caveatTable__item caveatTable__headItem caveatTable__item-content">Content</div>
      <div class="caveatTable__item caveatTable__headItem caveatTable__item-delete">
        Delete Caveat Statement
      </div>
      <div class="caveatTable caveatTable__headItem caveatTable__item-attachment">Attachment</div>
    </div>
    <div class="caveatTable__row">
      <div class="caveatTable__item caveatTable__item-date">2023-8-25 14:24</div>
      <div class="caveatTable__item caveatTable__item-content" data-readMore="wrapper">
        <p data-readMore="text">
          Due to the fact that many admitted students enter the university with an undeclared major
          or program of study, the breakdown of admitted students by area of study was estimated
          using the enrollment of upperclassmen students in these areas
        </p>
        <a href="#" class="universityOverview__readMore" data-readMore="button">
          <span>Watch more</span>
          <svg
            width="12"
            height="13"
            viewBox="0 0 12 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 5L6 8L9 5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="caveatTable__item caveatTable__item-delete">
        <span>Delete Caveat Statement</span>
      </div>
      <div class="caveatTable__item caveatTable__item-attachment"><span>Attachment</span></div>
    </div>
    <div class="caveatTable__row">
      <div class="caveatTable__item caveatTable__item-date">2023-8-25 14:24</div>
      <div class="caveatTable__item caveatTable__item-content" data-readMore="wrapper">
        <p data-readMore="text">
          Due to the fact that many admitted students enter the university with an undeclared major
          or program of study, the breakdown of admitted students by area of study was estimated
          using the enrollment of upperclassmen students in these areas
        </p>
        <a href="#" class="universityOverview__readMore" data-readMore="button">
          <span>Watch more</span>
          <svg
            width="12"
            height="13"
            viewBox="0 0 12 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 5L6 8L9 5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="caveatTable__item caveatTable__item-delete">
        <span>Delete Caveat Statement</span>
      </div>
      <div class="caveatTable__item caveatTable__item-attachment"><span>Attachment</span></div>
    </div>
    <div class="caveatTable__row">
      <div class="caveatTable__item caveatTable__item-date">2023-8-25 14:24</div>
      <div class="caveatTable__item caveatTable__item-content" data-readMore="wrapper">
        <p data-readMore="text">
          Due to the fact that many admitted students enter the university with an undeclared major
          or program of study, the breakdown of admitted students by area of study was estimated
          using the enrollment of upperclassmen students in these areas
        </p>
        <a href="#" class="universityOverview__readMore" data-readMore="button">
          <span>Watch more</span>
          <svg
            width="12"
            height="13"
            viewBox="0 0 12 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 5L6 8L9 5"
              stroke="#2B8CD9"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="caveatTable__item caveatTable__item-delete">
        <span>Delete Caveat Statement</span>
      </div>
      <div class="caveatTable__item caveatTable__item-attachment"><span>Attachment</span></div>
    </div>
  </div>
</div>
