.universityIndicators {
  &__title {
    margin-bottom: 15px;
  }
  &__tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
  }
  &__tabItem {
    padding: 10px 12px;
    border-radius: 8px;
    transition: all 0.3s, transform 0.1s;
    background-color: #ecf1f6;

    color: $text;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:not(.active) {
      cursor: pointer;

      &:active {
        transform: scale(0.97, 0.97);
      }
    }

    span {
      font-weight: 700;
      color: var(--tab-span-color);
    }

    &.active {
      color: #fff;
      background-color: var(--tab-span-color);
      span {
        color: #fff;
      }
    }
  }
  &-chart {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background-color: #f8f8f8;
    padding: 8px;
  }
  .chartjs {
    font-family: 'Inter', sans-serif;
  }
  span.chart-datalable {
    color: #fdfdfd;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-bottom: 15px;
  }
  &__content-box {
    padding-top: 30px;
    max-width: 617px;
    margin-left: 32px;
    width: 100%;
    display: none;
    opacity: 0;
    transition: all 0.3s;

    &.active {
      opacity: 1;
    }
  }
  &__content-title {
    color: $text;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;

    span {
      color: var(--tab-span-color);
      margin-left: 15px;
      font-weight: 700;
    }
  }
  &__content-benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  &__content-item {
    width: 49%;
    padding: 8px 12px;
    border-radius: 8px;
    background: $bg-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.icon {
      justify-content: flex-start;
    }
  }
  &__content-itemName {
    color: $text;
    font-size: 16px;
    font-weight: 500;
  }
  &__content-itemIcon {
    margin-right: 8px;
    width: 26px;
    height: 24px;
  }
  &__content-itemRank {
    height: 28px;
    min-width: 28px;
    width: auto;
    border-radius: 4px;
    background: #48c1c0;
    margin-left: 23px;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }

  &__table {
    border-radius: 10px;
    background: $bg-gray;
    padding: 0px 6px 6px 6px;
    padding-bottom: 1px;
  }
  &__table-row {
    display: flex;
    align-items: center;
  }
  &__table-row:not(.universityIndicators__table-row--head) {
    border-radius: 7px;
    background: #fff;
    margin-bottom: 5px;
  }
  &__table-row--head {
    .universityIndicators__table-item {
      color: #5f6262;
      font-size: 13px;
      font-weight: 600;
      line-height: 120%;
    }
    .universityIndicators__table-item--name {
      padding: 16px 10px;
    }
  }
  &__table-item {
    padding: 16px;
    max-width: 14%;
    width: 100%;
  }
  &__table-item--name {
    max-width: 60%;
    width: 100%;
  }
}
