<div class="universityIndicators university-item" id="universityIndicators">
  <h4 class="universityIndicators__title title-4">Indicators</h4>
  <div class="universityIndicators__tabs" data-chart-controls="wrapper">
    <div
      class="universityIndicators__tabItem active"
      data-chart-controls="item-1"
      style="--tab-span-color: #2b8cd9"
    >
      Teaching ranking <span>40%</span>
    </div>
    <div
      class="universityIndicators__tabItem"
      data-chart-controls="item-2"
      style="--tab-span-color: #48c1c0"
    >
      Research ranking <span>40%</span>
    </div>
    <div
      class="universityIndicators__tabItem"
      data-chart-controls="item-3"
      style="--tab-span-color: #97ca62"
    >
      Research ranking <span>10%</span>
    </div>
    <div
      class="universityIndicators__tabItem"
      data-chart-controls="item-4"
      style="--tab-span-color: #ffc36c"
    >
      Financial sustainability ranking <span>10%</span>
    </div>
  </div>
  <div class="universityIndicators__content">
    <div class="universityIndicators-chart"><canvas id="university-chart"></canvas></div>
    <div class="universityIndicators__content-tabs" data-chart-tabs>
      <div
        class="universityIndicators__content-box active"
        data-chart-tab="item-1"
        style="--tab-span-color: #2b8cd9"
      >
        <div class="universityIndicators__content-title">Teaching ranking <span>40%</span></div>
        <div class="universityIndicators__content-benefits">
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">World rank</div>
            <div class="universityIndicators__content-itemRank">2</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Score</div>
            <div class="universityIndicators__content-itemRank">99.840</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Country rank</div>
            <div class="universityIndicators__content-itemRank">1</div>
          </div>

          <div class="universityIndicators__content-item icon">
            <div class="universityIndicators__content-itemIcon">
              <img src="@img/icons/achivements/diamond.png" alt="diamond" />
            </div>
            <div class="universityIndicators__content-itemName">Diamond league</div>
          </div>
        </div>
      </div>
      <div
        class="universityIndicators__content-box"
        data-chart-tab="item-2"
        style="--tab-span-color: #48c1c0"
      >
        <div class="universityIndicators__content-title">Research ranking <span>40%</span></div>
        <div class="universityIndicators__content-benefits">
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">World rank</div>
            <div class="universityIndicators__content-itemRank">2</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Score</div>
            <div class="universityIndicators__content-itemRank">99.840</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Country rank</div>
            <div class="universityIndicators__content-itemRank">1</div>
          </div>

          <div class="universityIndicators__content-item icon">
            <div class="universityIndicators__content-itemIcon">
              <img src="@img/icons/achivements/diamond.png" alt="diamond" />
            </div>
            <div class="universityIndicators__content-itemName">Diamond league</div>
          </div>
        </div>
      </div>
      <div
        class="universityIndicators__content-box"
        data-chart-tab="item-3"
        style="--tab-span-color: #97ca62"
      >
        <div class="universityIndicators__content-title">Research ranking <span>10%</span></div>
        <div class="universityIndicators__content-benefits">
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">World rank</div>
            <div class="universityIndicators__content-itemRank">2</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Score</div>
            <div class="universityIndicators__content-itemRank">99.840</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Country rank</div>
            <div class="universityIndicators__content-itemRank">1</div>
          </div>

          <div class="universityIndicators__content-item icon">
            <div class="universityIndicators__content-itemIcon">
              <img src="@img/icons/achivements/diamond.png" alt="diamond" />
            </div>
            <div class="universityIndicators__content-itemName">Diamond league</div>
          </div>
        </div>
      </div>
      <div
        class="universityIndicators__content-box"
        data-chart-tab="item-4"
        style="--tab-span-color: #ffc36c"
      >
        <div class="universityIndicators__content-title">
          Financial sustainability ranking <span>10%</span>
        </div>
        <div class="universityIndicators__content-benefits">
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">World rank</div>
            <div class="universityIndicators__content-itemRank">2</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Score</div>
            <div class="universityIndicators__content-itemRank">99.840</div>
          </div>
          <div class="universityIndicators__content-item">
            <div class="universityIndicators__content-itemName">Country rank</div>
            <div class="universityIndicators__content-itemRank">1</div>
          </div>

          <div class="universityIndicators__content-item icon">
            <div class="universityIndicators__content-itemIcon">
              <img src="@img/icons/achivements/diamond.png" alt="diamond" />
            </div>
            <div class="universityIndicators__content-itemName">Diamond league</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="universityIndicators__table">
    <div class="universityIndicators__table-row universityIndicators__table-row--head">
      <div class="universityIndicators__table-item universityIndicators__table-item--name">
        Name
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--weight">
        Weight
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--rank">
        Rank
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--score">
        Score
      </div>
    </div>
    <div class="universityIndicators__table-row">
      <div class="universityIndicators__table-item universityIndicators__table-item--name">
        Academic staff per students
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--weight">
        8%
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--rank">157</div>
      <div class="universityIndicators__table-item universityIndicators__table-item--score">
        87.083
      </div>
    </div>
    <div class="universityIndicators__table-row">
      <div class="universityIndicators__table-item universityIndicators__table-item--name">
        Academic staff per bachelor degrees awarded
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--weight">
        8%
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--rank">60</div>
      <div class="universityIndicators__table-item universityIndicators__table-item--score">
        87.083
      </div>
    </div>
    <div class="universityIndicators__table-row">
      <div class="universityIndicators__table-item universityIndicators__table-item--name">
        Doctoral degrees awarded per academic staff
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--weight">
        8%
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--rank">52</div>
      <div class="universityIndicators__table-item universityIndicators__table-item--score">
        87.083
      </div>
    </div>
    <div class="universityIndicators__table-row">
      <div class="universityIndicators__table-item universityIndicators__table-item--name">
        Doctoral degrees awarded per bachelor degrees awarded
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--weight">
        8%
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--rank">25</div>
      <div class="universityIndicators__table-item universityIndicators__table-item--score">
        87.083
      </div>
    </div>
    <div class="universityIndicators__table-row">
      <div class="universityIndicators__table-item universityIndicators__table-item--name">
        Online visibility
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--weight">
        8%
      </div>
      <div class="universityIndicators__table-item universityIndicators__table-item--rank">1</div>
      <div class="universityIndicators__table-item universityIndicators__table-item--score">
        100.000
      </div>
    </div>
  </div>
</div>
