<a href="#" class="rankingItem">
  <div class="rankingItem__image">
    <img src="@@image" alt="University-logo" />
  </div>
  <div class="rankingItem__content">
    <div class="rankingItem__name">@@name</div>
    <div class="rankingItem__location">
      <img src="@img/icons/country-icons/usa.svg" alt="usa" />
      USA, Cambridge, MA 02138, United States
    </div>
    <div class="rankingItem__ranks">
      <div class="rankingItem__ranks-item">
        World rank
        <div class="rankingItem__ranks-itemCount" style="--itemCount-color: #2b8cd9">
          @@worldRank
        </div>
      </div>
      <div class="rankingItem__ranks-item">
        Country rank
        <div class="rankingItem__ranks-itemCount" style="--itemCount-color: #48c1c0">1</div>
      </div>
      <div class="rankingItem__ranks-item">
        University score
        <div class="rankingItem__ranks-itemScore">99.730</div>
      </div>
    </div>
  </div>
</a>
