<div class="profilesDataBrief admin-box-item">
  <h6 class="profilesDataBrief__title admin-box-item-title">
    Media Accounts
  </h6>
  <div class="profilesDataBrief__box">
    <div class="profilesDataBrief__column">
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "LinkedIn",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Facebook",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Twitter",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "YouTube",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
    </div>
    <div class="profilesDataBrief__column">
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Instagram",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Telegram",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      }) 
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "VK",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      })
      @@include('../../_DataUI/DataInputComponent/data-input.html', {
        "tip": "Link to the video",
        "counter": "",
        "info": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quia."
      })
    </div>
  </div>
</div>