<div class="universityOverview university-item" id="universityOverview">
  <div class="universityOverview__content">
    <h4 class="universityOverview__title title-4">Overview</h4>
    <div class="universityOverview__readMore-box" data-readMore="wrapper">
      <p class="universityOverview__text" data-readMore="text">
        Harvard University is a private Ivy League research university in Cambridge, Massachusetts,
        established in 1636. Its history, influence and wealth have made it one of the most
        prestigious universities in the world. Established originally by the Massachusetts
        legislature and soon thereafter named for John Harvard (its first benefactor), Harvard is
        the United States` oldest institution of higher learning,and the Harvard Corporation
        (formally, the President and Fellows of Harvard College) is its first chartered corporation.
      </p>
      <a href="#" class="universityOverview__readMore" data-readMore="button">
        <span>Watch more</span>
        <svg
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3 5L6 8L9 5"
            stroke="#2B8CD9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
  </div>
  <div class="universityOverview__info">
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Foundation year:</div>
      <div class="universityOverview__info-text">1636</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Short name:</div>
      <div class="universityOverview__info-text">Harvard</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Type:</div>
      <div class="universityOverview__info-text">Private</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Students:</div>
      <div class="universityOverview__info-text">21580</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Faculty:</div>
      <div class="universityOverview__info-text">2300</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Students/Faculty Ratio:</div>
      <div class="universityOverview__info-text">9:1</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Region:</div>
      <div class="universityOverview__info-text">North America</div>
    </div>
  </div>
</div>
