<div class="universityOverview university-item" id="universityOverview">
  <div class="universityOverview__content">
    <h4 class="universityOverview__title title-4">Overview</h4>
    <div class="universityOverview__readMore-box" data-readMore="wrapper">
      <p class="universityOverview__text" data-readMore="text">
        Harvard University is a private Ivy League research university in Cambridge, Massachusetts,
        established in 1636. Its history, influence and wealth have made it one of the most
        prestigious universities in the world. Established originally by the Massachusetts
        legislature and soon thereafter named for John Harvard (its first benefactor), Harvard is
        the United States` oldest institution of higher learning,and the Harvard Corporation
        (formally, the President and Fellows of Harvard College) is its first chartered corporation.
      </p>
      <a href="#" class="universityOverview__readMore" data-readMore="button">
        <span>Watch more</span>
        <svg
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3 5L6 8L9 5"
            stroke="#2B8CD9"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </div>
  </div>
  <div class="universityOverview__info">
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Foundation year:</div>
      <div class="universityOverview__info-text">1636</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Short name:</div>
      <div class="universityOverview__info-text">Harvard</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Type:</div>
      <div class="universityOverview__info-text">Private</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Students:</div>
      <div class="universityOverview__info-text">21580</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Faculty:</div>
      <div class="universityOverview__info-text">2300</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Students/Faculty Ratio:</div>
      <div class="universityOverview__info-text">9:1</div>
    </div>
    <div class="universityOverview__info-item">
      <div class="universityOverview__info-name">Region:</div>
      <div class="universityOverview__info-text">North America</div>
    </div>
    @@if (withVideo) {
    <a
      href="https://www.youtube.com/watch?v=Uk4xjhq2QjE"
      data-fancybox="video"
      class="universityOverview__info-button d-button"
    >
      <div class="buttonIcon">
        <svg
          width="25"
          height="24"
          viewBox="0 0 25 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect x="0.5" width="24" height="24" rx="12" fill="white" />
          <path
            d="M9.02148 7.74585C9.02148 6.95468 9.89673 6.47684 10.5622 6.90467L17.1798 11.1588C17.7921 11.5525 17.7921 12.4475 17.1798 12.8412L10.5622 17.0953C9.89673 17.5232 9.02148 17.0453 9.02148 16.2541V7.74585Z"
            fill="#2B8CD9"
          />
        </svg>
      </div>
      Video about the university
    </a>
    }
  </div>
</div>
