<div class="profilesDataDescription admin-box-item">
  <h6 class="profilesDataDescription__title admin-box-item-title">Description</h6>
  <p class="profilesDataDescription__text">Describe your university to your audience</p>
  
  <div class="profilesDataDescription__box">
    @@include('../../_DataUI/DataTextareaComponent/data-textarea.html', {
      "tip": "Overview",
      "counter": "2000",
      "info": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, totam?"
    })
    @@include('../../_DataUI/DataTextareaComponent/data-textarea.html', {
      "tip": "Mission Statement",
      "counter": "1000",
      "info": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, totam?"
    })
  </div>
</div>
