<div class="rankingDataItem">
  <div class="rankingDataItem__head">
    <div class="rankingDataItem__head-icon">
      <img src="@@icon" alt="" />
    </div>
    <h4 class="rankingDataItem__title title-4">
      @@title
      <svg
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="28" height="28" rx="14" fill="#2B8CD9" />
        <path
          d="M19.9436 9.4563L11.8384 17.5616L8.15417 13.8774"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </h4>
    <div class="rankingDataItem__angle">
      <svg
        width="42"
        height="42"
        viewBox="0 0 42 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="42"
          y="42"
          width="42"
          height="42"
          rx="21"
          transform="rotate(-180 42 42)"
          fill="#2B8CD9"
        />
        <path
          d="M27.6318 23L21.0003 17L14.3687 23"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
  <div class="rankingDataItem__wrapper">
    @@include('../_RankingDataTable/RankingDataTableComponent/ranking-data-table.html')
    <button class="rankingDataItem__button d-button">Go to next subject</button>
  </div>
</div>
