<div class="search closed" data-search="wrapper">
  <div class="search-overlay" data-search="close"></div>
  <div class="search__inner container">
    <div class="search__field closed">
      <div class="search__field-box">
        <img class="search__field-icon" src="@img/icons/search.svg" alt="search icon" />
        <input
          type="text"
          class="search__field-input"
          data-search="input"
          placeholder="Find University"
        />
        <div class="search__field-controls">
          <div class="search__field-select searchSelect" data-search="selectWrapper">
            <div class="searchSelect__button" data-search="selectButton">
              Search
              <div class="searchSelect__button-value">
                <span>Everywhere</span>
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 7.5L6 4.5L3 7.5"
                    stroke="#2B8CD9"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <div class="searchSelect__dropdown">
              <div class="searchSelect__item active" data-search="selectItem">Everywhere</div>
              <div class="searchSelect__item" data-search="selectItem">Universities</div>
              <div class="searchSelect__item" data-search="selectItem">News</div>
            </div>
          </div>
          <div class="search__field-button" data-search="searchButton">Search</div>
        </div>
      </div>
      <div class="search__field-close" data-search="close">
        <svg
          width="38"
          height="38"
          viewBox="0 0 38 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="38" height="38" rx="8" fill="white" />
          <path
            d="M23.5 14.5L14.5 23.5"
            stroke="#CFCFCF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14.5 14.5L23.5 23.5"
            stroke="#CFCFCF"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="search__list" data-search="list">
      <div class="search__list-wrapper">
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-1.png" alt="" />
          </div>
          <div>Peking <span>Univ</span>ersity</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-2.png" alt="" />
          </div>
          <div><span>Univ</span>ersity of Hong Kong</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-1.png" alt="" />
          </div>
          <div>Peking <span>Univ</span>ersity</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-2.png" alt="" />
          </div>
          <div><span>Univ</span>ersity of Hong Kong</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/news.svg" alt="" />
          </div>
          <div class="search__list-tag">New</div>
          <div>RUR 2023 World <span>Univ</span>ersity Ranking</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/news.svg" alt="" />
          </div>
          <div class="search__list-tag">New</div>
          <div>RUR 2021 World <span>Univ</span>ersity Ranking</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/news.svg" alt="" />
          </div>
          <div class="search__list-tag">New</div>
          <div>RUR 2019 World <span>Univ</span>ersity Ranking</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-1.png" alt="" />
          </div>
          <div>Peking <span>Univ</span>ersity</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-2.png" alt="" />
          </div>
          <div><span>Univ</span>ersity of Hong Kong</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-1.png" alt="" />
          </div>
          <div>Peking <span>Univ</span>ersity</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/item-2.png" alt="" />
          </div>
          <div><span>Univ</span>ersity of Hong Kong</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/news.svg" alt="" />
          </div>
          <div class="search__list-tag">New</div>
          <div>RUR 2023 World <span>Univ</span>ersity Ranking</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/news.svg" alt="" />
          </div>
          <div class="search__list-tag">New</div>
          <div>RUR 2021 World <span>Univ</span>ersity Ranking</div>
        </a>
        <a href="#" class="search__list-item">
          <div class="search__list-image">
            <img src="@img/content/search/news.svg" alt="" />
          </div>
          <div class="search__list-tag">New</div>
          <div>RUR 2019 World <span>Univ</span>ersity Ranking</div>
        </a>
      </div>
    </div>
  </div>
</div>
