<div class="methodologyTop">
  <h5 class="methodologyTop__title title-5">RUR World University Ranking:</h5>
  <div class="methodologyTop__box">
    @@include('../MethodologyItemComponent/methodology-item.html', {
      "icon": "@img/icons/methodology-page/item-1.svg",
      "text": "The ranking is a navigator in the world of higher education enabling applicants and their parents to choose the appropriate higher institution and the way of training.",
    })
    @@include('../MethodologyItemComponent/methodology-item.html', {
      "icon": "@img/icons/methodology-page/item-2.svg",
      "text": "Helps <b>students</b> to choose a higher education institution for their short-term programs or change their main place of study.",
    })
    @@include('../MethodologyItemComponent/methodology-item.html', {
      "icon": "@img/icons/methodology-page/item-3.svg",
      "text": "Enables <b>teachers and professors</b> to find suitable vacancies and make decisions about cooperation with their colleagues in the other universities;",
    })
    @@include('../MethodologyItemComponent/methodology-item.html', {
      "icon": "@img/icons/methodology-page/item-4.svg",
      "text": "Is an assessment tool for the <b>management of universities</b> evaluating the competitiveness of a university on the national and global scale and making the appropriate management decisions aimed at comprehensive improvement of the university’s international competitiveness;",
    })
    @@include('../MethodologyItemComponent/methodology-item.html', {
      "icon": "@img/icons/methodology-page/item-5.svg",
      "text": "Is one of the assessment tools for business evaluating the university and making decisions about cooperation with a particular higher education institution;",
    })
    @@include('../MethodologyItemComponent/methodology-item.html', {
      "icon": "@img/icons/methodology-page/item-6.svg",
      "text": "Is a tool for the state to comprehensively assess the country's higher education system as well as a way of maintaining national prestige.",
    })
  </div>
</div>
