.rankingFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 20px;

  &__mobileButton {
    display: none;
  }

  &-text {
    color: #606c8c;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }
  &__results {
    padding-right: 45px;
  }

  &__showBy {
    display: flex;
    align-items: center;
  }
  &__showBy-item {
    margin-left: 8px;
    min-width: 32px;
    height: 32px;
    padding: 5px 1px;
    background-color: #fff;
    border-radius: 8px;

    color: #637381;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    border: 1px solid transparent;
    transition: border 0.3s;

    &:not(.active) {
      cursor: pointer;
      &:hover {
        border: 1px solid $accent;
      }
    }
    &.active {
      border: 1px solid $accent;
      background: #f2f5fe;
      color: $accent;
    }
  }

  &__sortBy {
    display: flex;
    align-items: center;
  }
  &__sortBy-select {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding-right: 27px;
    .current {
      color: $accent;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 12px;
      height: 12px;
      background-image: url('@img/icons/ios-select-angle-down.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.3s;
    }
    &.open::after {
      transform: rotate(180deg) translateY(50%);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__controls-item {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    margin-left: 8px;
    color: $accent;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s;

    svg {
      width: 16px;
      height: 16px;
      margin-left: 5px;
      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      background-color: $accent;
      color: #fff;
      svg path {
        stroke: #fff;
      }
    }
  }

  @media (max-width: $breakpoint-large) {
    padding-top: 10px;
    margin-bottom: 20px;

    &-text {
      font-size: 14px;
      white-space: nowrap;
    }
    &__results {
      padding-right: 15px;
    }

    &__showBy-item {
      margin-left: 8px;
      min-width: 28px;
      height: 28px;
      padding: 5px 1px;
      border-radius: 8px;

      font-size: 14px;
      line-height: 22px;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(.active) {
        &:hover {
          border: 1px solid $accent;
        }
      }
      &.active {
        border: 1px solid $accent;
      }
    }

    &__sortBy-select {
      padding: 16px 10px;
      border-radius: 8px;
      margin-left: 8px;
      font-size: 14px;
      padding-right: 27px;

      .option {
        padding: 8px 10px;
      }
      .list {
        max-height: 150px;
      }

      &::after {
        right: 10px;
        width: 12px;
        height: 12px;
      }
    }

    &__controls {
      gap: 8px;
    }
    &__controls-item {
      padding: 7px 10px;
      border-radius: 8px;
      margin-left: 8px;
      font-size: 14px;

      svg {
        width: 16px;
        height: 16px;
        margin-left: 5px;
      }

      &:hover {
        background-color: $accent;
      }
    }
  }

  @media (max-width: $breakpoint-large) {
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &__mobileButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      max-width: 100%;
      width: 100%;
      padding: 7px 10px 7px 7px;
      border-radius: 8px;
      background-color: $accent;
      margin-bottom: 16px;

      color: #fff;
      font-size: 17px;
      font-weight: 600;
      line-height: 120%;

      svg {
        width: 30px;
        height: 30px;
        margin-right: 8px;
      }
    }

    &__results {
      order: 3;
      height: 32px;
      padding-top: 10px;
    }
    &__showBy {
      order: 2;
    }
    &__sortBy {
      order: 1;
      .rankingFilter__sortBy-select:not(.nice-select) {
        display: none;
      }
    }

    &__showBy,
    &__sortBy {
      max-width: 100%;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
    &__showBy-text {
      max-width: 100%;
      width: 100%;
    }
    &__showBy-item {
      min-width: 42px;
      height: 32px;
      margin-left: 6px;
    }
    &__controls {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &__sortBy-select {
      padding-top: 18px;
      padding-bottom: 18px;
      min-width: 240px;
    }
  }
}
