<div class="methodologyAbout">
  <h4 class="methodologyAbout__title title-4">
    About Round University Ranking
  </h4>
  @@include('../../_Article/ArticleTextComponent/article-text.html', {
    "text": "Round University Ranking (RUR) is an international university rankings published by the Ranking Agency RUR. The rankings have evaluated the activity of 1000+ leading universities from 85 countries around the world for the period of 13 years (2010-2022) on 20 indicators assessing 4 groups of universities activity: quality of teaching, quality of research, level of internationalization and level of financial sustainability. Such a wide coverage, both geographically and temporally, makes RUR a unique tool for choosing universities for study and work comparing and correlating higher education institutions on a global scale. In addition to the overall ranking, RUR includes 30 rankings on 6 subject areas: humanities, life sciences, medical sciences, natural sciences, social sciences, engineering."
  })
</div>