<div class="articleBlockquote" id="articleBlockquote">
  <div class="articleBlockquote__box">
    <div class="articleBlockquote__icon">
      <img src="@img/icons/blockquote.svg" alt="icon" />
    </div>
    <div class="articleBlockquote__content">
      <p class="articleBlockquote__content-text">
        Never gonna give you up. Never gonna let you down. Never gonna run around and desert you.
        <br />
        Never gonna make you cry. Never gonna say goodbye. Never gonna tell a lie and hurt you.
      </p>
    </div>
  </div>
  <p class="articleBlockquote__author">– Rick Astley</p>
</div>
